.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
  background-color: #fff;
  padding: 20px 20px;
  &__wrapper {
    width: 100%;
    max-width: 600px;
  }
  &__menu {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.button {
  background-color: white;
  min-width: 100px;
  display: flex;
  align-items: center;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  color: #fd5109;
  padding: 3px 5px;
  cursor: pointer;

  &__text {
    margin-left: 10px;
    color: #9d9799;
  }
}

.textArrowTray {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;

  &__text {
    font-weight: 500;
    font-size: 11px;
  }

  &__icon {
    color: #fd5109;
    cursor: pointer;
    font-size: 15px;
    stroke-width: 2px;
  }

  svg {
    color: #fd5109;
  }
}
