.wrapper {
  height: 55px;
  width: 100%;
}
.header {
  height: 55px;
  max-height: 55px;
  box-shadow: 3px 3px 6px #ececec;
  position: fixed;
  z-index: 10;
  top: 0;
  width: calc(100% - 61px);
  background-color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0 30px;
  width: 100%;
  position: relative;
}

.left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.left img {
  height: 40px;
}

.social {
  display: flex;
  position: relative;
  border-right: 1px solid #ececec;
  padding-right: 30px;
}
.social__child {
  width: 27px;
  height: 27px;
  border: 1px solid #ececec;
  border-radius: 27px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dcdbdb;
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
}

.cart__icon {
  margin-left: 30px;
  margin-top: 3px;
  cursor: pointer;
  color: #7dbd3b;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 30px;
}

.center {
  position: absolute;
  left: calc(50% - 61px);
  transform: translateX(-50%);
}

.userPopupMenu {
  position: relative;
  display: inline-block;

  .downArrow {
    color: #ccc;
    margin-left: 5px;
  }

  .popup {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 9px;
    border: 0;
    min-width: 140px;
    height: auto;
    background-color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 10000;
    top: 45px;
    left: 50%;
    margin-left: -125px;
  }
  .menu {
    color: #000000;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding: 3px 10px;
    cursor: pointer;
    &:hover {
      color: #f95d2b;
    }
  }
  .icon {
    font-size: 20px;
    &:hover {
      color: #f95d2b;
    }
  }
}
