.showRecipeCollectionsContainer {
  margin: 20px 0;
}
.showRecipeCollectionsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .favoriteIcon {
      color: #fe5d1f;
      font-size: 24px;
      margin-right: 16px;
    }
    h2 {
      font-weight: 500;
      font-size: 22px;
      color: #fe5d1f;
    }
  }
}

.showRecipes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;

  @media only screen and (max-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media only screen and (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

// .slider__card {
//   margin-right: 16px;
//   margin-bottom: 16px;
// }
