$width:300px;

@mixin responsive($min_width, $max_width) {
    @media only screen and (min-width: $min_width) and (max-width: $max_width) {
        @content;
    }
}

// mixin for headings
@mixin headings {
    background-color: rgb(21, 53, 95);
    position: relative;
    display: flex;

    h3 {
        color: black;
        background-color: aqua;
        font-size: 22px;
        font-weight: 400;
    }

}

@mixin center_right_Icons {

    position: relative;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: auto 0px;
    margin-right: 10px;


    svg {
        position: absolute;
        font-size: 16px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.main {
    display: flex;
    // background-color: green;
    min-height: 100%;
    width: calc(100% - 60px);
    margin: auto;
    margin-top: 43px;
    justify-content: space-between;
}

.left {
    background-color: rgb(170, 17, 17);
    min-width: $width;

    &__title {
        @include headings();
        height: 30px;
    }

    @include responsive(0px, 1200px) {
        margin-left: -$width - 30px;
    }
}

.center {
    // background-color: rgb(204, 135, 32);
    min-width: $width;
    width: calc(100% - 2*$width);
    height: auto;
    padding-right: 20px;

    @include responsive(0px, 1200px) {
        width: calc(100% - $width);
        margin-left: 24px;
    }

    @include responsive(0px, 991px) {
        width: calc(100% + 22px);
    }
}

.right {
    background-color: rgb(155, 170, 17);
    min-width: $width;

    &__title {
        @include headings();
        height: 30px;
    }

    @include responsive(0px, 991px) {

        margin-right: -$width - 30px;

    }
}