.challenge_circle_food {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem 2rem;
  width: 90%;
}

.challenge_circle_food_box {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenge_circle_food_color_represent {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  width: 45px !important;
}

.challenge_circle_food_name {
  color: #a8a6a6;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 5px;
  font-size: 1.3rem;
}
