@import "../../styles/mixins.scss";

.searchtab {
  width: 100%;
  background-color: #e0e0e05a;
  height: auto;
  margin-top: 25px;
  border-radius: 90px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  overflow-y: hidden;
  // flex-wrap: wrap;
  margin: 0 0 0 1.5rem;
  // @include respond(md) {
  //   width: auto;
  //   flex-wrap: nowrap;
  //   overflow-x: auto;
  //   &::-webkit-scrollbar {
  //     display: none;
  //   }
  // }

  .item {
    height: calc(100% - 20px);
    background-color: #fff;
    display: flex;
    border-radius: 20px;
    padding: 4px 7px;
    font-size: 13px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
    cursor: pointer;
    margin: 10px;
    flex-shrink: 0;

    .image {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: contain;
      }
    }

    p {
      margin-left: 10px;
      padding-right: 10px;
      @include respond(md) {
        text-wrap: nowrap;
      }
    }
  }
  .activeItemPrimary {
    border: 1px solid #fe5d1f;
  }
}

.cross {
  position: absolute;
  right: 0px;
  top: 4px;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
  width: 18px;
  height: 18px;

  .cancel {
    color: rgba(128, 128, 128, 0.53);
    transform: scale(0.8);
    // height: 100%;
    // width: 100%;

    &:hover {
      color: #fe5d1f;
    }
  }
}

.item:hover .cross {
  display: block;
}
