@import "mixins";
@import "../../styles/fragments/variables.scss";

.searchtab {
  width: 100%;
  max-width: 95%;
  background-color: #e0e0e05a;
  height: auto;
  margin-top: 2.5rem;
  border-radius: 90px;
  // display: flex;
  // align-items: center;
  padding: 0.5rem;
  // overflow: hidden;
  // flex-wrap: wrap;
  margin: 2.5rem auto 0 auto;

  // &::-webkit-scrollbar {
  //   display: none;
  // }

  @include respond(md) {
    background-color: $secondaryLight;
  }

  // @include respond(md) {
  //   width: auto;
  //   flex-wrap: nowrap;
  //   overflow-x: auto;
  //   &::-webkit-scrollbar {
  //     display: none;
  //   }
  // }

  .item {
    height: calc(100% - 20px);
    background-color: #fff;
    display: flex;
    border-radius: 20px;
    padding: 4px 7px;
    font-size: 13px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
    cursor: pointer;
    margin: 1rem 0.5rem;
    overflow: hidden;

    @include respond(md) {
      flex-direction: column;
      background-color: $secondaryLight;
      box-shadow: none;
    }

    .image {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: contain;
      }

      @include respond(md) {
        width: 45px;
        height: 45px;
        background-color: #fff;
      }
    }

    .mobileCircle {
      width: 45px;
      height: 45px;
      background-color: $yellow;
      display: none;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px;
      @include respond(md) {
        display: block;
      }

      span {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 600;
      }
    }

    .text {
      margin-left: 10px;
      padding-right: 10px;
      .preText {
        display: inline-block;
        margin-right: 3px;
      }
      .postText {
        display: inline-block;
        margin-left: 3px;
      }
      text-wrap: nowrap;
      @include respond(md) {
        padding-top: 0.5rem;
        text-align: center;
        .preText {
          display: none;
        }
        .postText {
          display: none;
        }
      }
    }

    .noImageTextHight {
      height: 35px;
      display: flex;
      align-items: center;
      @include respond(md) {
        height: 18px;
      }
    }
  }
  .activeItemPrimaryDesktop {
    border: 1px solid $primaryColor;
    @include respond(md) {
      border-color: transparent;
    }
  }
  .activeItemPrimaryMobile {
    border-color: 1px solid transparent;
    @include respond(md) {
      border: 1px solid $primaryColor;
    }
  }
}

.cross {
  position: absolute;
  right: 0.5rem;
  top: -1rem;

  cursor: pointer;
  display: none;
  width: 18px;
  height: 18px;
  @include respond(md) {
    right: 30%;
  }

  .cancel {
    color: rgba(128, 128, 128, 0.53);
    transform: scale(0.8);
    // height: 100%;
    // width: 100%;

    &:hover {
      color: #fe5d1f;
    }
  }
}

.item:hover .cross {
  display: block;
}
