.mainContainer {
  height: 180px;
  width: 100%;
  max-width: 400px;
  position: relative;
  display: flex;

  &__Image {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: white;
    margin: 2px;
  }
}

.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #e5e5e4;
  // color: #8b8b85;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2.2rem;
  // padding: 5px;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.85) !important;
}
