.sectionWithIconContainer {
  padding: 40px 0px;
  p {
    font-size: 14px;
    color: #000;
    padding: 10px 0;
  }
}
.imageContainer {
  width: 100%;
  display: flex;
  align-items: center;

  flex-wrap: wrap;
}

.singleImage {
  cursor: pointer;
  padding: 0 5px;
  .imageBox {
    background-color: #fbfbfb;
    border: 2px solid transparent;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    img {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
    }
    @media screen and (max-width: 900px) {
      width: 121px;
      height: 121px;
    }
  }

  p {
    font-size: 14px;
    color: #000;
    margin: 0;
    text-align: center;
    padding: 5px;
    line-height: 1.4;
    font-weight: 400;
  }
}
.singleImage:hover h2 {
  color: #000;
}
.singleImage.active h2 {
  color: #000;
}

.singleImage:hover .imageBox {
  background-color: #fff7f5;
  border: 2px dotted #fe5d1f;
}
.singleImage.active .imageBox {
  background-color: #fff7f5;
  border: 2px dotted #fe5d1f;
}
.singleImage:hover .imageBox img {
  filter: inherit;
  -webkit-filter: inherit;
}
.singleImage.active .imageBox img {
  filter: inherit;
  -webkit-filter: inherit;
}
