.singleIngredientContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  transition: all 1000s linear;
  &:hover {
    .leftSide .dargIcon {
      visibility: visible;
    }
    .plusIcon {
      display: block;
    }
    .closeIcon {
      display: block;
    }
  }

  .leftSide {
    display: flex;
    align-items: center !important;
    .dargIcon {
      color: #c4c4c4;
      font-size: 20px;
      outline: none;
      visibility: hidden;
    }
    .text {
      font-size: 14px;
      color: #ababab;
      margin-top: -6px;
    }
  }

  .plusIcon {
    color: #7cbc39;
    font-size: 20px;
    display: none;
    margin-top: -6px;
    cursor: pointer;
  }

  .closeIcon {
    color: #c4c4c4;
    font-size: 20px;
    display: none;
    margin-top: -6px;
    cursor: pointer;
  }
}
