.saveRecipeModalContainer {
  padding: 33px;
  width: 500px;
  .modalBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      color: #000;
      font-size: 12px;
      margin: 0;
      span {
        color: #fe5d1f;
        font-weight: bold;
        font-size: 14px;
      }
    }

    a {
      background: #fe5d1f;
      box-shadow: 5px 5px 15px #fe5d1f38;
      border-radius: 23px;
      color: #fff !important;
      font-size: 12px;
      font-weight: 500;
      min-width: 95px;
      height: 37px;
      line-height: 37px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 0;
      &:hover {
        box-shadow: 0px 2px 3px #0000001a;
      }
    }
  }
}
