@import "../../../../../styles/partials/variables";
$sharedHeightForIcons: 20px;

@mixin servings__name {
  font-size: 15px;
  color: #c4c4c4;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin searchbar {
  min-height: 90px;
  border-radius: 8px;
  display: flex;
  // justify-content: center;
  align-items: center;
  width: 100%;

  span {
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: center;

    input {
      border: 1px solid #e2dcdcd3;
      border-radius: 7px;
      min-height: 36px;
      padding: 0 15px;
      color: #bcbcbc;
      line-height: 36px;
      font-size: 12px;
      width: 100%;

      &:focus {
        outline: none;
        border: 1px solid #7cbc39;
        color: #000;
      }
    }
  }
}

@mixin edit_bin_icon {
  margin-left: auto;
  position: absolute;
  width: 18px;
  height: 100%;
  cursor: pointer;
  top: 0;
}

@mixin resoponsive($min_width, $max_width) {
  @media only screen and (min-width: $min_width) and (max-width: $max_width) {
    @content;
  }
}

.ingredients {
  padding: 0rem 2rem 2rem;
  &__wrapper {
    padding: 3rem 3rem 2rem;
  }
  &__partial_ok {
    background-color: #f1f1f1;
    padding-right: 1rem;
  }

  ul {
    margin: 0 0px 24px 0px;
    list-style-type: none;
    min-height: 50px;

    li {
      margin-bottom: 15px;
      border-radius: 10px;
    }

    @include resoponsive(0px, 1300px) {
      margin: 14px 0px 24px 0px;
    }
  }
  &__item {
    position: relative;
    height: 42px;
    display: flex;
    align-items: center;

    &:hover .ingredients__edit {
      display: flex;
      flex-direction: column;
    }

    &:hover .ingredients__iconTray {
      display: flex;
    }

    &:hover .ingredients__drag {
      display: block;
    }
  }

  &__icons {
    position: relative;
    width: 3rem;
    height: 3rem;
    // background-color: #fbfbfb;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__text {
    margin-left: 18px;
    font-size: 16px;

    &__highlighted:hover {
      color: #f95d2b;
      text-decoration: underline;
      cursor: pointer;
      font-size: 16px;
    }
  }
  &__text--partial_ok {
    color: #c4c4c4;
    font-style: italic;
  }
  &__text--not_ok {
    color: #c62727;
    font-style: italic;
  }

  &__edit {
    height: 100%;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: none;

    svg {
      font-size: 26px;
      color: #dad8d8;
    }
  }

  &__bin {
    width: 20px;
    height: 100%;
    position: relative;
    cursor: pointer;
    margin-left: 5px;
  }

  &__iconTray {
    display: none;
    margin-left: auto;
    height: $sharedHeightForIcons;

    &__icons {
      margin-left: 5px;
      cursor: pointer;
      color: #dddada;
      font-size: $sharedHeightForIcons;
      transform: all 0.4s;
      font-size: 1.6rem;
      &:hover {
        color: #fe5d1f;
      }
    }
  }

  &__drag {
    color: #c4c4c4;
    font-size: 20px;
    position: relative;
    display: none;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) scale(0.55);
      left: -24px;
      // cursor: pointer;
    }
  }

  &__searchBar {
    @include searchbar();
    background-color: #fbfbfb;
    padding: 20px;
    border: 2px solid #f2f2f8;
    border-radius: 7px;
  }
}

.save__Recipe {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  &__button {
    min-height: inherit;
    width: 180px;
    margin-left: -10px;
    margin-top: 10px;

    button {
      font-size: 16px;
      min-height: inherit;
    }
  }
}

.suggested {
  &__searchBar {
    background-color: #fbfbfb;
    border: 2px solid #f2f2f8;
    border-radius: 7px;
  }

  &__li {
    display: flex;
    padding: 20px;
    font-size: 16px;

    &:hover {
      background-color: #dad8d893;
    }

    cursor: pointer;
  }

  &__div {
    margin-right: 20px;
  }
}

// .ingredient {
//   &__add {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 6rem;
//     margin: 2rem 1.5rem;
//     & > button {
//       padding: 1rem;
//       color: $secondaryColor !important;
//       border: 1px solid $secondaryColor;
//       transition: all 0.3s ease-in;
//       &:hover {
//         background-color: $secondaryColor !important;
//         color: $white !important;
//       }
//     }
//   }
// }

.addToCart {
  display: flex;
  align-items: center;
  height: 6rem;
  background-color: #fbfbfb;
  border-radius: 8px;
  &--top {
    margin: 2rem 1.5rem;
    padding: 0 1rem;
  }
  &--edit {
    padding: 0 1rem !important;
  }
  &__form {
    flex-grow: 1;
    & > div > div {
      padding-bottom: 0 !important;
    }
  }
  &__buttons {
    // width: 13rem;
    display: flex;
    justify-content: center;
    // padding: 0.5rem 0 0.5rem 1rem;
  }
}

.inputWrapper {
  width: 100%;
  border: 1px solid $slightGray;
  border-radius: 10px;
  transition: $transition;
  &:hover,
  &:focus {
    border: 1px solid $secondaryColor;
  }
  input {
    border-color: transparent;
    &:hover,
    &:focus {
      border-color: transparent;
    }
  }
  .icon {
    color: $fontGray;
    transition: $transition;
    &:hover {
      color: $black;
    }
  }
}
