$sharedMargin:5px;

%sharedFlex {
    display: inline-flex;
    align-items: center;
}

%sharedStyle {
    color: #9d9799;
}

.mainContainer {

    @extend %sharedFlex;
    font-size: 10px;


    &__score {
        @extend %sharedStyle;
        margin-right: $sharedMargin;
    }

    &__comments {
        @extend %sharedStyle;
        margin-left: $sharedMargin;
    }

    &__starTray {

        @extend %sharedFlex;

        &__star {
            color: #fd5109;
        }
    }
}