.sideBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .name {
    font-size: 18px;
    color: #0c152e;
    letter-spacing: 0.49px;
    line-height: 1.0625rem;
    margin: 0;
    font-weight: 700;
    padding-top: 20px;
  }
  .email {
    color: #0c152e;
    font-size: 14px;
    letter-spacing: 0.38px;
    margin: 0;
    padding: 10px 0;
    line-height: 1.3125rem;
  }
  .text {
    color: #0c152e;
    font-size: 15px;
    letter-spacing: 0.38px;
    margin: 0px;
    line-height: 1.3125rem;
  }
  .aboutMe {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    h4 {
      font-size: 15px;
      font-weight: 600;
      line-height: 1.4rem;
      color: #000;
      margin: 0;
    }

    .editBox {
      box-shadow: 5px 5px 15px #ececec;
      width: 31px;
      height: 31px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      .editIcon {
        font-size: 15px;
      }
    }
  }

  .textAreaBox {
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .textArea {
      padding: 10px;
      border: 1px solid #dddddd;
      opacity: 1;
      width: 100%;
      outline: none;
      border-radius: 5px;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fbfbfb;
      font-weight: 400;
      font-size: 13px;
      color: #929292;

      line-height: 1.125rem;
      text-align: center;
      &:focus {
        border: 1px solid #fe5d1f;
      }
    }

    .textArea::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #f5f5f5;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }

    .textArea::-webkit-scrollbar {
      width: 8px;
      background-color: #f5f5f5;
    }

    .textArea::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #fff;
      background-image: -webkit-linear-gradient(
        top,
        #fe5e1f2a 0%,
        #fe5e1fdc 50%,
        #fe5e1fe5 51%,
        #fe5d1f 100%
      );
    }
  }
}

.imageBox {
  width: 135px;
  border-radius: 50%;
  border: 5px double #7dbd3b;
  height: 135px;
  display: flex;
  justify-content: center;
  position: relative;
  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .cameraIconBox {
    position: absolute;
    right: -15px;
    top: 70px;
    z-index: 1;
    background-color: #7dbd3b;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    input {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      outline: none;
      opacity: 0;
      cursor: pointer;
      left: 0;
      top: 0;
    }
    .cameraIcon {
      color: white;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
