@import "../../../styles/partials/mixin";
@import "../../../styles/partials/variables";

.showRecipeCollectionsContainer {
  width: 100%;
  min-height: 80vh;
  margin: 40px auto 20px auto;
}
.showRecipeCollectionsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .favoriteIcon {
      color: $primaryColor;
      font-size: 24px;
      margin-right: 16px;
    }
    h2 {
      font-weight: 500;
      font-size: 22px;
      color: $primaryColor;
    }
  }
}

.showRecipes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;
  grid-auto-rows: auto;

  @include certainBreakpoint(768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include certainBreakpoint(1050px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include certainBreakpoint(1380px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.paginationWarper {
  margin: 20px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
