%input {
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 10px;
  padding: 9px 15px;
  font-size: 10px;
  color: #ababab;
  font-size: 12px;
  &::placeholder {
    font-size: 12px;
    color: #bcbcbc;
  }
  &:focus,
  &:hover {
    color: #495057;
    background-color: #fff;
    border-color: #7cbc39;
    outline: 0;
    box-shadow: none;
  }
}

.createNewRecipeContainer {
  background-color: #ffffff;
  padding: 10px;
  margin-right: 5px;
  height: 100%;
  position: relative;
  border: 2px solid #f2f2f8;
  border-radius: 7px;
  width: 100%;
  margin-top: 12px;
  &:hover .closeNewRecipeIcon {
    color: #ababab;
    display: block;
  }

  .closeNewRecipeIcon {
    position: absolute;
    top: 2px;
    z-index: 10000;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    display: none;
  }
}

.ingredientsDetails {
  .table_row_calorie {
    font-weight: 500;
    background-color: #f1f1f1;
    padding-right: 15px;
    border-bottom: 1px solid #dfdddd !important;
  }

  table {
    width: 100%;

    tr {
      display: grid;
      grid-template-columns: 1fr 35% 14%;
    }

    tr td {
      // background-color: red;
      color: #000;
      font-size: 14px;
      padding: 10px 10px 10px 0px;
      border-bottom: 1px solid #dfdddd !important;
    }

    tr:last-child td {
      border: 0 !important;
    }
  }
}

.firstContainer {
  border-radius: 6px;
  width: 100%;
  min-height: 230px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 2px 3px #0000001a;
    border-color: #fff;
  }

  &__firstSection {
    width: 100%;
    padding: 10px 10px 0px 10px;
  }
}

.calories__heading {
  display: grid;
  grid-template-columns: 1fr 16%;
  font-weight: 600;
  padding-bottom: 16px;
  padding-top: 5px;
  margin-bottom: 14px;
  border-bottom: 1px solid #dfdddd !important;
}

.imageBoxContainer {
  display: flex;

  .fileUpload {
    text-align: center;
    position: relative;
    margin-right: 10px;
    height: 105px;
    width: 105px;
    // overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #f4f4f4;
    flex-shrink: 0;
    &:hover .cancleIcon {
      display: block;
    }

    input {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      outline: none;
      opacity: 0;
      cursor: pointer;
      left: 0;
      top: 0;
    }

    .imageBox {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
    .cancleIcon {
      position: absolute;
      right: 0px;
      top: -5px;
      color: #ababab;
      cursor: pointer;
      background-color: white;
      border-radius: 100%;
      font-size: 20px;
      display: none;

      :hover {
        color: #fe5d1f;
        display: block;
      }
    }
  }

  .dropDown {
    flex-grow: 1;
    select {
      width: 100%;
      max-width: 130px;
      min-height: 82px;
      border: 1px solid #ececec;
      border-radius: 10px;
      min-height: 36px;
      padding: 0 15px;
      font-size: 10px;
      color: #ababab;
      line-height: 36px;
      font-size: 12px;
      outline-style: none;
      margin-bottom: 10px;
      margin-right: 10px;
    }

    select:focus,
    select:hover {
      color: #495057;
      background-color: #fff;
      border-color: #7cbc39;
      outline: 0;
      box-shadow: none;
    }

    textarea {
      @extend %input;
      width: 100%;
      resize: none;
    }
  }
}

.addRecipeTitle {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  input {
    @extend %input;
    font-weight: bold;
  }
  .moreIcon {
    font-size: 24px;
    cursor: pointer;
  }
}

.datacard__body__belt {
  display: flex;
  background: #f6f6f6 0% 0% no-repeat padding-box;
  padding: 5px 15px;
  justify-content: space-between;
  margin-top: 13px;

  &__child {
    font-size: 13px;
    font-weight: 500;

    span {
      color: #fe5d1f;
      font-size: 13px;
      padding-left: 3px;
      font-weight: 600;
    }
  }
}

.dividerBox {
  border: 1px solid #f6f6f6;
  padding: 10px;
  margin-top: 15px;
  border-radius: 6px;
  min-height: 250px;
}

.addRecipeIngredients {
  position: relative;

  input {
    @extend %input;
  }

  .suggested {
    position: absolute;
    background-color: #ffffff;
    border: 2px solid #f1f1f1;
    border-radius: 7px;
    width: 100%;
    margin-top: 5px;
    z-index: 1;
    &__ul {
      display: flex;
      flex-direction: column;
    }

    &__li {
      display: flex;
      padding: 10px;
      color: #ababab;
      font-size: 14px;
      list-style: none;

      &:hover {
        background-color: #dad8d893;
      }
      .ingredientImg {
        margin-right: 10px;
      }
      cursor: pointer;
    }
  }
}
.dargAndDropArea {
  margin-top: 10px;
}

.nutritionHeader {
  p {
    color: #ababab;
    font-size: 14px;
    padding-top: 2px;
  }

  table {
    width: 100%;

    tr th {
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      border-bottom: 1px solid #ececec;
      padding: 5px;
    }

    tr td {
      color: #000;
      font-size: 14px;
      text-align: right;
      padding: 10px 5px;
    }
  }
}

.saveButton {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 20px;
  right: 0;
  left: 0;
}

.floating__menu {
  // position: absolute;
  // top: 35px;
  // right: 10px;
  // z-index: 6;

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 8px 5px 8px 10px;
    border: 1px solid #eeeeee;
    background: #eeeeeef2;
    border-radius: 5px;

    li {
      display: flex;
      align-items: center;
      margin-right: 5px !important;

      &:hover .icon {
        color: #fe5d1f;
      }
      .icon {
        color: #737373;
        cursor: pointer;
        margin-right: 5px;
      }
    }
  }
}

.dropableArea {
  height: 180px;
  transition: all 0.5s;
  border-radius: 5px;
  padding: 10px 10px 10px 0;
  background-color: "#f6f6f6";
  overflow-x: hidden;
}
