$sharedHeight: 60px;
$sharedBorderRadius: 5px;
$sharedBorderStyle: 1px #d1cece solid;
$sharedBackgroundColor: white;

.space {
  padding: 1rem;
}

.card {
  background-color: white;
  padding: 2rem 1.8rem;
  &__wrapper {
    max-height: 100.3rem;
    overflow: auto;
    border-radius: 9px;

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #f5f5f5;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
    &::-webkit-scrollbar {
      width: 5px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #fff;
      background-image: -webkit-linear-gradient(
        top,
        #fe5e1f2a 0%,
        #fe5e1fdc 50%,
        #fe5e1fe5 51%,
        #fe5d1f 100%
      );
    }
  }
  &__headline {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  &__content {
    border: 1px solid #f1f1f1;
  }
}

.recipe {
  position: relative;
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    // &:hover button {
    //   visibility: visible;
    // }
    & > button {
      // visibility: hidden;
      transform: translateY(-5px);
    }
  }
  &__title {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    transition: 0.2s color ease-out;
    & svg {
      margin-right: 1rem;
    }
    &:hover {
      color: #fe5d1f;
    }
  }
  &__category {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #868082;
    font-size: 12px;
  }
  &__ingredients {
    margin-top: 1rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #9d9799;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;
  }
  &__summary {
    display: flex;
    background-color: #f9f9f9;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    & b {
      margin-left: 1rem;
      font-weight: 700;
      color: #fe5d1f;
    }
  }
  &__optionTray {
    background-color: $sharedBackgroundColor;
    position: absolute;
    right: -7px;
    top: 78%;
    width: 120px;
    font-size: 1.4rem;
    border-radius: $sharedBorderRadius;
    border: $sharedBorderStyle;
    z-index: 1;
    padding: 10px 0px;
    display: none;

    &__pointingDiv {
      z-index: -1;
      height: 10px;
      aspect-ratio: 1;
      background-color: $sharedBackgroundColor;
      position: absolute;
      top: -5px;
      right: 20px;
      transform: rotate(45deg);
      border-radius: 2px;
      border-left: $sharedBorderStyle;
      border-top: $sharedBorderStyle;
    }
  }
}

.note {
  padding: 1rem;
  &__headline {
    color: #7cbc39;
    font-size: 16px;
    font-weight: 300;
    margin: 5px 0 1rem;
  }
  &__content {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.4rem;
  }
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  cursor: pointer;
  &:hover {
    background-color: rgb(238, 238, 238);
  }
  &__icon {
    color: #707070;
  }
  &__calender {
    position: absolute;
    right: 0;
    background-color: #fff;
    z-index: 999;
  }
}
