@import "../../../styles/variables";

.statistics {
  width: 100%;
  height: 100%;

  &__body {
    padding: 3rem 2rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__graph {
    margin-bottom: 1rem;
    h3 {
      font-size: 1.8rem;
      font-weight: 400;
      color: #626262;
    }
    h5 {
      font-size: 1.4rem;
      font-weight: 400;
      margin-top: 1rem;
      color: #70778b;
    }
  }

  &__timeframes {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    button {
      background-color: transparent;
      border: none;
      padding: 0.8rem 1.5rem;
      border-radius: 25px;
      margin-right: 1rem;
      cursor: pointer;
    }
  }

  &__score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 6px 10px 25px;
    span {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    i {
      display: inline-block;
      padding: 5px 12px;
      background-color: #b9eb84;
      border-radius: 12px;
      font-weight: 600;
      margin-left: 2px;
    }
  }
}

#statistics__progress {
  border-radius: 10px;
}

.stacked {
  width: calc(100% - 10px);
  height: 25px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  position: relative;
  &__outline {
    margin-top: 4rem;
    height: 35px;
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    & > span {
      position: absolute;
      top: -20px;
      color: #c1c1c1;
      font-size: 1.4rem;
      &:first-child {
        left: 5px;
      }
      &:last-child {
        right: 5px;
      }
    }
  }
  &__total {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #aaaaaa;
    font-size: 1.4rem;
    i {
      height: 42px;
      width: 2px;
      background-color: #a0a0a0;
      display: block;
    }
  }
  & > div {
    height: 100%;
  }
  div:nth-child(1) {
    background-color: #ff8252;
    width: 30%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  div:nth-child(2) {
    background-color: #66a7ff;
    width: 30%;
  }
  div:nth-child(3) {
    background-color: #b9eb84;
    width: 30%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
  }
}

.leaderboard {
  margin-top: 2rem;
  &__item {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    img {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      margin-right: 10px;
    }
    span {
      font-size: 1.4rem;
      color: #707070;
      display: flex;
      align-items: center;
    }
  }
  &__progress {
    height: 15px;
    border-radius: 20px;
    background-color: #eee;
    display: flex;
    div {
      background-color: #b9eb84;
      border-radius: 20px;
      position: relative;
    }
  }
}
