.clamp {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}
.longText {
  margin-bottom: 10px;
}

.showMoreText {
  font-size: 14px;
  color: #484848;
  font-weight: bold;
  cursor: pointer;
}
