.theme {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.theme__child {
  margin-bottom: 20px;
  width: 92px;
}

.theme__cover {
  height: 92px;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.theme__cover__abs {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 999;
  cursor: pointer;
  transition: all;
  transition-duration: 0.3s;
}
.theme__cover__abs:hover {
  transform: scale(1.1);
}
.theme__child p {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  .icon {
    margin-right: 5px;
  }
}
