.tray {
  width: 280px;
  background-color: #fff;
  position: absolute;
  height: calc(100vh - 55px);
  box-shadow: 0px 2px 6px #ececec;
  left: -293px;
  transition: all;
  transition-duration: 0.4s;
  padding: 20px;
  z-index: 999999999999999999999999999;
}

.tray .image {
  position: absolute;
  right: 3.5px;
  top: 20px;
  transform: translateX(100%);
  cursor: pointer;
  transition: all;
  transition-duration: 0.2s;
  z-index: 999999999999999999999999999;
}

.tray .image img {
  width: 50px;
}

.image__white:hover {
  right: -10px;
}

.main__top__menu {
  display: flex;
  flex-flow: nowrap;
  margin-top: 20px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border: 1px solid #dfdfdf !important;
  border-radius: 18px;
  height: 37px;
  position: relative;
}

.main__top__menu__child {
  width: 50%;
  border: 1px solid #929292;
  border-radius: 18px;
  height: 35px;
  font-size: 14px;
  color: #929292;
  padding: 0;
  line-height: 35px;
  text-align: center;
  display: block;
  border: 0 !important;
  position: relative;
  cursor: pointer;
}

.active {
  border: 2px solid #7dbd3b !important;
  width: 50%;
  height: 36px;
  position: absolute;
  top: -1.1%;
  bottom: 0;
  content: "";
  left: 0px;
  border-radius: 18px;
  z-index: 99999;
  transition: all;
  transition-duration: 0.4s;
}
.active__menu {
  color: #7dbd3b !important;
  transition: all;
  transition-duration: 0.4s;
}

.addCollectioContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 35px;
  p {
    color: #929292;
    font-size: 16px;
    font-weight: 500;
    margin-right: 16px;
  }
  .addIcon {
    font-size: 28px;
    color: #929292;
    cursor: pointer;
    &:hover {
      color: #7dbd3b;
    }
  }
}
