.flex_container {
    display: flex;
    flex-flow: wrap;
}

.flex_item_left {
    background-color: #f5f5f5;
    background-image: url(../../public/background/fruits.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
    flex: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.flex_item_right {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
// .login_right_bg{
//     background-image: url(../images/new-user-bg.png);
// }
// .forget_right_bg{
//     background-image: url(../images/forget-bg.png);
//     background-position: bottom center;
// }
// .reset_right_bg{
//     background-image: url(../images/reset-bg.png);
//     background-position: center;
// }
// .signup_right_bg{
//     background-image: url(../images/signup.png);
//     align-items: baseline;
// }
// .signup_left_bg{
//     background-image: url(../images/signup-bg.png);
//     background-color: #fff;
// }
.orange_button {
    width: 253px;
    margin: 85px auto 45px;
    background-color: #FE5D1F;
    font-size: 18px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    border: none;
    color: #fff;
}
.orange_button:hover {
    color: #fff;
}
.white_button {
    width: 253px;
    margin: auto;
    background-color: #fff;
    font-size: 18px;
    height: 70px;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fe5d1f;
}
.white_button:hover {
    color: #fe5d1f;
}
.content_wrap_right {
    text-align: center;
}

.img_wrap img {
    width: 180px;
    margin: 0 0 60px 0;
}
.form_wrap .form_control {
    box-shadow: 0px 3px 6px #4848481C;
    background: #FFFFFF;
    border: none;
    padding: 15px 70px 15px 25px;
    min-width: 633px;
    height: 70px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
}

.form_wrap .form_control::placeholder {
    color: #afafaf;
    letter-spacing: 0.64px;
}

.show_img img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.form_wrap .form-group {
    position: relative;
}
.forget_text {
    font-size: 16px;
    color: #929292;
    float: right;
    letter-spacing: 0.64px;
}
.forget_text:hover {
    color: #929292;
}
.separator_login {
    height: auto;
    margin: 45px 0px 35px;
    position: relative;
    border-bottom: solid 1px #e9ecef;
}
.signup_lef_-bg .separator_login::before {
    background-color: #ffffff;
}
.signup_left_bg .orange_button {
    margin: 45px auto 45px;
}
.signup_right_bg .img_wrap img {
    margin: 30px 0 250px 0;
    text-align: left;
}

.signup_right_bg .img_wrap {
    text-align: left;
}
.separator_login::before {
    content: "or";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8995ac;
    font-size: 16px;
    top: 50%;
    background-color: #f5f5f5;
    padding: 0px 10px;
    font-family: "Poppins";
}

.social_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_wrap {
    background-color: #ececec;
    text-align: center;
    padding: 10px;
}

.footer_wrap p {
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.56px;
}