.userImage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;

  .imageBox {
    width: 38px;
    height: 38px;
    background: #ececec;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9e9e9e8f;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  h6 {
    font-size: 14px;
    font-weight: 600;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 16px;
  }
  img {
    max-width: 77px;
  }
}

.userName {
  white-space: nowrap;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commentsIconBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  span {
    font-size: 10px;
    color: #7e7c7c;
    display: block;
  }
  button {
    background-color: #7cbc39;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    &:hover span {
      visibility: visible;
    }
    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    span {
      left: -48px;
      padding: 0 5px;
      position: absolute;
      visibility: hidden;
      background-color: #7cbc39;
      color: #fff;
      text-align: center;
      z-index: 1;
      min-width: 24px;
      border-radius: 2px;
      top: 4px;
      font-size: 14px;
      &::before {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 8px solid #7cbc39;
        right: -7px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}

.commentsShowContainer {
  border: 1px solid #ececec;
  border-radius: 15px;
  padding: 10px;
  max-height: calc(100vh - 210px);
  overflow-y: scroll;
  margin-top: 20px;
}

.singleComment {
  border-bottom: 1px solid #ececec;
  padding-bottom: 15px;
  margin-bottom: 20px;
  &:hover .buttomSection .rightSide {
    visibility: visible;
  }
  &:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftSide {
      display: flex;
      align-items: center;
      .userIcon {
        width: 29px;
        height: 29px;
        background: #ececec;
        border-radius: 50%;

        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        color: #9e9e9e8f;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      h6 {
        font-size: 14px;
        font-weight: 600;
        margin-left: 16px;
      }
    }
    img {
      max-width: 77px;
    }
  }
  p {
    color: #646464;
    font-size: 12px;
  }
  .buttomSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    span {
      font-size: 10px;
      color: #c1c1c1;
      font-weight: 300;
    }
    .rightSide {
      display: flex;
      align-items: center;
      visibility: hidden;
      .editIconBox {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        padding: 0;
        border: 0;
        background: #fbfbfb;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          box-shadow: 0 10px 10px -10px rgb(0 0 0 / 50%);
          background: #e0e0e047;
        }
        .icon {
          font-size: 14px;
          color: #646464;
        }
      }
    }
  }
}

.noComments {
  text-align: center;
  color: #c1c1c1;
  font-size: 16px;
}
