@import "../../../../../styles/partials/variables";
.lineChartContainer {
  padding: 20px 16px;
  width: 100%;
  height: auto;
  min-height: 200px;
  border-radius: 14px;
  transition: all 0.2s;
  background-color: white;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
  margin-bottom: 20px;
}

.title {
  font-size: 22px;
  color: #000;
  font-weight: 500;
}

.description {
  padding: 16px 0;

  .singleItem {
    color: #b6b6b6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 24px;
    font-size: 15px;
    span {
      color: #8b8a8a;
      font-weight: 500;
      font-size: inherit;
      padding-right: 5px;
    }
  }
}

.lineChartDurationPointBox {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .term {
    cursor: pointer;
    color: #8b8a8a;
    font-size: 14px;
    padding: 0 10px;
    border-right: 2px solid #8b8a8a;
    font-weight: 500;
    &:last-child {
      border-right: none;
    }
  }

  .active {
    color: $secondaryColor;
  }
}

.lineChartBoxContainer {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.noRecordFound {
  text-align: center;
  color: #c4c4c4;
  font-weight: 400;
  font-family: inherit;
}

.customTooltipBox {
  background-color: #d2e7bc;
  padding: 8px 5px;
  border-radius: 6px;

  .label {
    font-size: 12px;
  }
  .dateLabel {
    font-size: 12px;
    line-height: 24px;
  }
}
