.containerA {
  display: flex;
  overflow-x: hidden;
  position: relative;
}
.sidebarA {
  width: 61px;
  padding: 0 10px;
  box-shadow: 3px 1px 3px #ececec;
  z-index: 9999999999;
  background-color: #fff;
}
.mainA {
  width: calc(100% - 61px);
  position: relative;
  // overflow: hidden;
}
.fixed__main__left {
  position: fixed;
  z-index: 999999;
  top: 55px;
}
.fixed__main__right {
  position: fixed;
  z-index: 999999;
  right: 0;
  top: 55px;
}
