@mixin responsive($min_width, $max_width) {
  @media only screen and (min-width: $min_width) and (max-width: $max_width) {
    @content;
  }
}

.physicalContainer {
  display: flex;
  flex-direction: column;
  height: auto;

  .profile_tab_wraper {
    width: 100%;
    display: flex;
    justify-content: center;
    .profile_tab {
      display: flex;
      align-items: center;
      p {
        color: #929292;
        font-size: 14px;
        padding: 0.5rem 1rem;
        border-bottom: 2px solid #fff;
        cursor: pointer;
        transition: all 0.3s linear;
      }
    }
  }

  .header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ececec;
    border: 1px solid #dfdfdf;
    border-bottom: none;
    .radioButton_wraper {
      display: flex;
    }
  }
}

.active_border {
  border-bottom: 2px solid #fe5d1f !important;
}

.infoText {
  color: #929292;
  font-size: 12px;
  align-items: center;
  text-align: center;
  line-height: 1.125rem;
  font-weight: 400;
}

.contentContainer {
  padding: 20px;
  border: 1px solid #dfdfdf;
  border-top: none;

  .label {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    min-width: 110px;
    line-height: 1.3125rem;
    color: #000;
  }

  .showValue {
    font-size: 13px;
    margin: 0;
    color: #fe5d1f;
    text-align: center;
    letter-spacing: 0.35px;
    font-weight: 400;
    padding: 20px 0;
  }

  .content {
    padding: 20px 0px;
  }

  &__elementDiv {
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(160px, auto) 1fr;

    row-gap: 25px;
    column-gap: 10px;

    @include responsive(0px, 1200px) {
      width: 100%;
      grid-template-columns: 1fr;
    }

    &__heading {
      display: flex;
      margin: 4% 0px;
      padding-top: 17px;

      @include responsive(0px, 1200px) {
        width: 100%;
        margin: 0;
      }
    }

    &__objects {
      margin: 4% 0px;

      @include responsive(0px, 1200px) {
        margin: 0% 0px;
      }
    }
  }
}
