.container {
  max-width: 180rem;
  margin: 2rem auto 0;
}

.alert {
  display: flex;
  border: 2px dashed #dedede;
  border-radius: 10px;
  background-color: white;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7rem;
    h3 {
      color: #7dbd3b;
      font-size: 24px;
      margin-bottom: 2rem;
    }
    p {
      font-size: 20px;
      line-height: 32px;
      color: #828282;
    }
  }
  &__image {
    position: relative;
    h3 {
      position: absolute;
      top: 0;
      background-color: rgba(255, 255, 255, 0.8);
      width: 100%;
      color: #ce1c1d;
      font-size: 20px;
      font-weight: 600;
      border: 2px dashed #dedede;
      border-top: none;
      border-right: none;
      border-left: none;
      border-radius: 10px 10px 0px 0px;
      text-align: center;
      padding: 8px;
    }
    img {
      width: 30rem;
      height: 100%;
      object-fit: cover;
    }
  }
}

.quick {
  display: flex;
  margin-top: 2rem;
  & > * {
    border: 2px dashed #dedede;
    border-radius: 10px;
    background-color: white;
    padding: 2rem 2rem 4rem;
    h3 {
      font-size: 21px;
      color: #525151;
      text-align: center;
      margin-bottom: 2.5rem;
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    a {
      text-align: center;
      color: #828282;
      font-size: 13px;
      cursor: pointer;
    }
    img {
      margin-bottom: 10px;
      height: 34px;
      width: 34px;
    }
  }
  &__site {
    width: 44.5%;
    margin-right: 1%;
  }
  &__category {
    width: 55.5%;
    img {
      margin-bottom: 5px !important;
    }
    span {
      height: 4px;
      width: 6rem;
      border-radius: 45px;
      display: block;
      margin: auto;
      margin-bottom: 5px;
    }
  }
}
