@mixin responsive($min_width) {
  @media only screen and (min-width: $min_width) {
    @content;
  }
}

$sharedWidth: 25%;
$sharedTopMargin: 2%;

.windowContainer {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  // padding: 5% 0px;
}
.toolbox {
  background-color: white;
  padding: 0px 20px;
}

.planner {
  max-width: 1800px;
  margin: auto;
  &__pageTitle {
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 30px;
  }
}
// .mainContainer {
//   // min-height: 80vh;
//   max-width: 1800px;
//   margin: auto;
//   padding: 36px 16px;
//   // &__tray {
//   //   min-height: 400px;
//   //   position: relative;
//   // }

//   &__pageTitle {
//     font-weight: 600;
//     margin-bottom: 16px;
//   }

//   &__nonHeadingContainer {
//     display: flex;

//     @include responsive(0px) {
//       flex-direction: column;
//     }

//     @include responsive(1000px) {
//       flex-direction: row;
//     }

//     &__leftTray {
//       margin-right: auto;

//       // background-color: yellow;
//       transition: all 0.5s ease-in;

//       @include responsive(0px) {
//         width: 100%;
//       }

//       @include responsive(1000px) {
//         min-width: $sharedWidth;
//         max-width: $sharedWidth;
//       }
//     }

//     &__centerTray {
//       min-width: $sharedWidth;

//       @include responsive(0) {
//         width: 100%;
//         margin-top: $sharedTopMargin;
//       }

//       @include responsive(1000px) {
//         min-width: max-content;
//         margin: 0px 30px;
//         max-width: calc(#{$sharedWidth} * 2);
//         margin-top: 0px;
//       }
//     }

//     &__rightTray {
//       margin-left: auto;

//       @include responsive(0px) {
//         width: 100%;
//         margin-top: $sharedTopMargin;
//       }

//       @include responsive(1000px) {
//         width: 100%;
//         min-width: $sharedWidth;
//         max-width: $sharedWidth;
//         margin-top: 0px;
//       }
//     }
//   }
// }

$sharedColor: #fd5109;

.headingDiv {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.uploadDiv {
  background-color: white;
  display: flex;
  border-radius: 4px;
  height: fit-content;
  align-items: center;
  padding: 4px 8px;
  margin-top: 4px;
  margin-right: 30px;
  font-size: 15px;
  cursor: pointer;

  &__icon {
    color: $sharedColor;
  }

  span {
    margin-left: 6px;
    font-size: 11px;
  }
}

// .mainContainer {
//   position: relative;

//   &__contentDiv {
//     background-color: white;
//     padding: 0px 20px;

//     &__innerDiv {
//       display: flex;
//       justify-content: space-between;
//       padding: 10px 0px;

//       // &__left,
//       // &__right {
//       //   width: 50%;
//       //   padding: 0px 10px;
//       // }

//       // &__left {
//       //   border-right: 1.8px solid #eeeeee;
//       // }

//       &__challengeDiv {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding: 20px;
//         width: 90%;
//         margin: auto;
//       }
//     }
//   }
// }
