.main__div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: auto;
    margin: 0px 86px;
    position: relative;
    transition: all 1s;

    @media only screen and (max-width: 980px) {
        margin: 0px 20px;
    }

    @media only screen and (max-width: 1290px) {
        margin: 0px 23px 0px 24px;
    }
}


.main__tray {

    margin: 30px 20px;
    // min-width: 100%;
    // width: auto;
    min-height: 100%;
    // background-color: rgba(110, 148, 6, 0.726);

    @media only screen and (max-width: 1290px) {
        margin:30px 0px;
    }

    .slider__card {
        // background-color: rgb(196, 83, 153);
        padding-right:7.5px;

        div {
            // background-color: green;
            min-height: 34px;

            @media only screen and (min-width: 980px) and(max-width: 1290px) {
                min-height: 30px;

            }
        }
        @media only screen and (min-width: 980px) and(max-width: 1290px) {

            padding-right:7.5px;
        }
    }
}

.footerMainDiv{
    margin-top: auto;
    width: 100%;
    min-width: 100px;
}