.userImage {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  position: relative;
  // &:hover .rightSide {
  //   display: block;
  // }
  &:hover .rightSide {
    transform: translateX(0);
  }

  .imageBox {
    width: 28px;
    height: 28px;
    background: #ececec;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9e9e9e8f;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  h6 {
    font-size: 14px;
    font-weight: 600;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 16px;
  }

  .rightSide {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(120%);
    transition: all 0.3s;
    .content {
      display: flex;
      align-items: center;

      .editIconBox {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        padding: 0;
        border: 0;
        background: #fbfbfb;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          box-shadow: 0 10px 10px -10px rgb(0 0 0 / 50%);
          color: #e0e0e047;
        }
        .icon {
          font-size: 14px;
          color: #646464;
        }
      }
    }
  }
}
