.settings {
  padding: 1rem 0;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 3rem 0 4rem;
    display: flex;
    align-items: center;
  }
}
.textarea {
  textarea {
    min-height: 20rem !important;
  }
}

.challengeName {
  color: #fe5d1f;
  cursor: pointer;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  border: 1px solid #ececec;
  border-radius: 10px;
  width: 100%;
  padding: 0 15px;
  line-height: 3.9rem;
}
