.settings {
  padding: 1rem 0;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 3rem 0 4rem;
    display: flex;
    align-items: center;
  }
}
.textarea {
  textarea {
    min-height: 20rem !important;
  }
}
