@import "../../styles/partials/variables";
@import "../../styles/partials/mixin";

.wikiPageContainer {
  min-height: 100vh;
  width: 100%;
  max-width: $_3xl;
  padding: 0 1rem;
  margin: 20px auto;

  @include media(lg) {
    padding: 0 1.6rem;
  }

  .wikiContentContainer {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;

    @include media(xl) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
    }
    .left {
      width: 100%;
      display: none;
      @include media(xl) {
        display: block !important;
      }
    }

    .center {
      width: 100%;
    }
  }
}

.main {
  min-height: 100vh;
  width: 100%;
  max-width: $_3xl;
  padding: 0 10px;
  margin: 20px auto;

  @include media(lg) {
    padding: 0 16px;
  }
}

.left {
  width: 100%;
  display: none;

  @include media(xl) {
    display: block;
  }
}

.center {
  width: 100%;
}

.singleWikiItemContainer {
  min-height: 100vh;
  width: 100%;
  max-width: $_3xl;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2rem;

  @include media(lg) {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  }
}

.stickyContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}
