@import "../../../../styles/partials/variables";

.main__top__menu {
  display: flex;
  flex-flow: nowrap;
  margin-top: 20px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border: 1px solid #dfdfdf !important;
  border-radius: 18px;
  height: 37px;
  position: relative;
}

.main__top__menu__child {
  width: 50%;
  border: 1px solid #929292;
  border-radius: 18px;
  height: 35px;
  font-size: 14px;
  color: #929292;
  padding: 0;
  text-align: center;
  display: block;
  border: 0 !important;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin: 0 4px;
    max-width: 16px !important;
    height: 16px;
  }
}

.inActiveImg {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
// .main__top__menu__child img {
//   margin: 0 4px;
// }
.active {
  border: 2px solid #7dbd3b !important;
  width: 50%;
  height: 36px;
  position: absolute;
  top: -1.1%;
  bottom: 0;
  content: "";
  left: 0px;
  border-radius: 18px;
  z-index: 999;
  transition: all;
  transition-duration: 0.4s;
}
.active__menu {
  color: #7dbd3b !important;
  transition: all;
  transition-duration: 0.4s;
}

.recipeName {
  display: flex;
  align-items: center;
  padding: 20px 0px 10px;
  border-bottom: 1px solid #ececec;
  img {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
    margin-right: 16px;
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
  }
}
.recipeImage {
  width: 100%;
  margin-bottom: 10px;
}

@import "../../../../styles/partials/variables";

.userImage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;

  .imageBox {
    width: 38px;
    height: 38px;
    background: #ececec;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9e9e9e8f;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  h6 {
    font-size: 14px;
    font-weight: 600;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 16px;
  }
  img {
    max-width: 77px;
  }
}

.userName {
  white-space: nowrap;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commentsIconBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  span {
    font-size: 10px;
    color: #7e7c7c;
    display: block;
  }
  button {
    background-color: #7cbc39;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    &:hover span {
      visibility: visible;
    }
    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    span {
      left: -48px;
      padding: 0 5px;
      position: absolute;
      visibility: hidden;
      background-color: #7cbc39;
      color: #fff;
      text-align: center;
      z-index: 1;
      min-width: 24px;
      border-radius: 2px;
      top: 4px;
      font-size: 14px;
      &::before {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 8px solid #7cbc39;
        right: -7px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}

.commentsShowContainer {
  border: 1px solid #ececec;
  border-radius: 15px;
  padding: 10px;
  max-height: calc(100vh - 210px);
  overflow-y: scroll;
  margin-top: 20px;
}

.singleComment {
  border-bottom: 1px solid #ececec;
  padding-bottom: 15px;
  margin-bottom: 20px;
  &:hover .buttomSection .rightSide {
    visibility: visible;
  }
  &:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftSide {
      display: flex;
      align-items: center;
      .userIcon {
        width: 29px;
        height: 29px;
        background: #ececec;
        border-radius: 50%;

        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        color: #9e9e9e8f;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      h6 {
        font-size: 14px;
        font-weight: 600;
        margin-left: 16px;
      }
    }
    img {
      max-width: 77px;
    }
  }
  p {
    color: #646464;
    font-size: 12px;
  }
  .buttomSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    span {
      font-size: 10px;
      color: #c1c1c1;
      font-weight: 300;
    }
    .rightSide {
      display: flex;
      align-items: center;
      visibility: hidden;
      .editIconBox {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        padding: 0;
        border: 0;
        background: #fbfbfb;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          box-shadow: 0 10px 10px -10px rgb(0 0 0 / 50%);
          background: #e0e0e047;
        }
        .icon {
          font-size: 14px;
          color: #646464;
        }
      }
    }
  }
}

.noComments {
  text-align: center;
  color: #c1c1c1;
  font-size: 16px;
}

.commentBoxContainer {
  background-color: #f8f8f8;
  border-radius: 15px;
  padding: 15px 15px 30px 15px;
  margin-top: 20px;
  .buttonGroup {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.submitBtn {
  border-radius: 23px;
  color: #fff !important;
  font-size: 12px;
  font-weight: 500;
  min-width: 95px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  background: $primaryColor;
  box-shadow: 5px 5px 15px #fe5d1f38;
}

.cancelBtn {
  min-width: 95px;
  height: 37px;
  border: 0;
  padding: 0;
  background: transparent;
  font-size: 13px;
  font-weight: 500;
  color: $primaryColor;
  cursor: pointer;
  &:hover {
    background: transparent;
    box-shadow: 5px 5px 15px #fe5d1f38;
    border-radius: 23px;
  }
}
