@mixin center_right_Icons {
  position: relative;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  margin: auto 0px;
  padding-right: 10px;

  svg {
    position: absolute;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.center__title {
  &__right {
    margin-left: auto;
    display: flex;

    &__eye {
      @include center_right_Icons();
      background-color: #7cbc39;
      margin-right: 10px;
      cursor: pointer;

      svg {
        color: white;
        height: 100%;
        width: 100%;
        transform: translate(-50%, -50%) scale(0.75);
      }
    }

    &__cross {
      @include center_right_Icons();
      background-color: #7cbc39;
      cursor: pointer;

      // color: white;
      svg {
        color: white;
        height: 100%;
        width: 100%;
        transform: translate(-50%, -50%) scale(0.75);
      }
    }
  }
}
