@import "../../styles/partials/variables";

%input {
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 10px;
  font-size: 14px;
  color: $lightTextColor;
  letter-spacing: 0.5px;
  line-height: 16px;
  padding: 12px 10px;
  transition: border 0.3s linear;
  font-weight: normal;
  font-family: "Segoe UI", sans-serif;
  // margin-bottom: 16px;
  &:focus,
  &:hover {
    border: 1px solid $primaryColor;
    outline: none;
  }
  &::placeholder {
    color: #c8c8c8;
  }
}

.input {
  @extend %input;
}

.borderSecondary {
  &:focus,
  &:hover {
    border: 1px solid $secondaryColor !important;
    outline: none;
  }
}

.inputWithIcon {
  display: flex;
  align-items: center;
  background: #fbfbfb;
  border: 1px solid #dddddd;
  border-radius: 10px;
  transition: border 0.3s linear;
  &:focus,
  &:hover {
    border: 1px solid #fe5d1f;
  }

  .input {
    @extend %input;
    border: none;
    outline: none;
    &:focus,
    &:hover {
      border: none;
      outline: none;
    }
  }

  .icon {
    color: #dcdbdb;
    margin-right: 10px;
    font-size: 24px;
  }
}
