@import "../../styles/partials/variables";

%input {
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 10px;
  font-size: 14px;
  color: $lightTextColor;
  letter-spacing: 0.5px;
  line-height: 16px;
  padding: 12px 10px;
  transition: border 0.3s linear;
  font-weight: normal;
  font-family: "Segoe UI", sans-serif;
  outline: none;
  // margin-bottom: 16px;
  &::placeholder {
    color: #c8c8c8;
  }
}

.input {
  @extend %input;
}

.borderSecondary {
  &:focus,
  &:hover {
    border: 1px solid $secondaryColor;
  }
}
.borderPrimary {
  &:focus,
  &:hover {
    border: 1px solid $primaryColor;
  }
}

.inputWithIcon {
  display: flex;
  align-items: center;
  background: #fbfbfb;
  border: 1px solid #dddddd;
  border-radius: 10px;
  transition: border 0.3s linear;
  position: relative;

  .input {
    @extend %input;
    border: none;
    outline: none;
    &:focus,
    &:hover {
      border: none;
      outline: none;
    }
  }

  .icon {
    color: $lightTextColor;
    margin-right: 16px;
    font-size: 24px;
  }
}

.label {
  display: block;
  padding-bottom: 0.5rem;
  color: #c8c8c8;
}
.errorMessage {
  display: block;
  position: absolute;
  top: 100%;
  padding-top: 0.5rem;
  color: $errorColor;
  font-size: 1.4rem;
}
