$orange_card_font:#ffffff;


.orange__card {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 270px;
    border-radius: 20px;
    background-color: #fe5d1f;
    // margin-top: 140px;

    @media only screen and (max-width: 980px) {
        transform: scaleY(0.8);
    }


    &__left {
        padding: 20px 20px 20px 40px;
        // background-color: yellow;
        flex-grow: 1;
        min-width: 300px;
        min-height: 250px;
        width: 50%;

        h2 {
            color: $orange_card_font;
            margin-left: auto;
            text-align: left;
            font-size: 35px;
            text-transform: uppercase;
            font-family: 'Mohave';
            font-weight: bold;
            line-height: 1.4;
            letter-spacing: 2px;
            margin-top: 26px; // to be removed when font-family='Mohave' starts working
            margin-bottom: 10px;

        }

        p {
            color: $orange_card_font;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 18px;
            line-height: 1.2;

            margin-bottom: 20px;
        }

        &__Buttons {

            min-height: 66px;
            position: relative;
            display: flex;
            // justify-content: space-around;

            .btn {
                min-width: 200px;
                display: block;

                position: relative;
                margin: 0px -8px;
            }

            :hover {
                transform: scale(1.04);
                transition-duration: 0.2s;
            }
        }
    }

    &__right {
        flex-grow: 1;
        width: 20%;
        min-width: 200px;
        position: relative;
        // background-color: green;
        // it contains nextjs image with fill property so it needs to be of position relative
        border-radius: 20px;
        &__icon {
            margin-left: auto;
            display: block;
            position: relative;
            width: 350px;
            min-height: 250px;
            height: 125%;
            top: -26%;
            right: 0%;
        }
    }
}