$sharedBorder:1px solid #eeeeee;

.mainContainer {
    background-color: white;
    min-width: 140px;
    display: flex;
    align-items: center;
    font-size: 12px;
    overflow: hidden;

    color: #9d9799;
    cursor: pointer;
    overflow: hidden;

    &__left,
    &__right {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 5px;
        border-radius: 6px;
        border: $sharedBorder;
    }

    &__left {
        margin-right: 1px;
        border-right: $sharedBorder;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

    }

    &__right {
        border-left: $sharedBorder;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-left: 1px;

    }

}