.mainDiv{
    // background-image: url('/images/banner1.png');
    // background-position-x: center;
    // background-position-y: bottom;
    // background-size:cover;
    // background-repeat: no-repeat;
    background-color: aqua;
    min-height: 100vh - 100px;
    min-width: 100vw;
}