.mainContainer {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 10px;
  &__iconDiv {
    width: 30px;
    color: #7cbc39;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 24px;
    margin-right: 4px;
  }

  &__title {
    color: #070707;
    font-size: 17px;
    font-weight: 400;
    margin-left: 0.5rem;
  }
}
