.tray {
  width: 280px;
  background-color: #fff;
  position: absolute;
  height: calc(100vh - 55px);
  box-shadow: 0px 2px 6px #ececec;
  left: -293px;
  transition: all;
  transition-duration: 0.4s;
  padding: 20px 0;
  z-index: 9999;

  &__inner {
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding: 0 16px;
    min-height: 100%;
    background-color: #fff;

    &::-webkit-scrollbar-track {
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      padding-left: 4px;
    }

    &::-webkit-scrollbar {
      width: 4px;
      background-color: #f5f5f5;
      margin-left: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgb(241, 241, 241);
    }
  }
}
.open {
  left: 0px !important;
}

.image {
  position: absolute;
  right: 15px;
  top: 100px;
  transform: translateX(100%);
  cursor: pointer;
  transition: all;
  transition-duration: 0.2s;
  z-index: -99 !important;

  &:hover {
    right: 5px;
  }

  img {
    width: 50px;
  }
}
.hovered {
  right: 5px !important;
}
.imageContained {
  position: absolute;
  right: 5px;
  top: 100px;
  transform: translateX(100%);
  cursor: pointer;
  transition: all;
  transition-duration: 0.2s;
  z-index: -1;
  z-index: 999999999999999999999999999;
  &:hover {
    right: -10px;
  }
  img {
    width: 50px;
  }
}

.active {
  border: 2px solid #7dbd3b !important;
  width: 50%;
  height: 36px;
  position: absolute;
  top: -1.1%;
  bottom: 0;
  content: "";
  left: 0px;
  border-radius: 18px;
  z-index: 99999;
  transition: all;
  transition-duration: 0.4s;
}
