.submitBtn {
  // background: #FE5D1F;
  // box-shadow: 5px 5px 15px #fe5d1f38;
  border-radius: 23px;
  color: #fff !important;
  font-size: 12px;
  font-weight: 500;
  min-width: 95px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
}

.cancleBtn {
  min-width: 95px;
  height: 37px;
  border: 0;
  padding: 0;
  background: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #f95d2b;
  cursor: pointer;
  &:hover {
    background: transparent;
    box-shadow: 5px 5px 15px #fe5d1f38;
    border-radius: 23px;
  }
}
