@import "./variables";

$media: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  _2xl: $_2xl,
  _3xl: $_3xl,
);

@mixin media($breakpoint) {
  @each $breakpoints, $size in $media {
    @if $breakpoint==$breakpoints {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  }
}

// @mixin for-size($size) {
//   @if $size == phone-only {
//     @media (max-width: 599px) {
//       @content;
//     }
//   } @else if $size == tablet-portrait-up {
//     @media (min-width: 600px) {
//       @content;
//     }
//   } @else if $size == tablet-landscape-up {
//     @media (min-width: 900px) {
//       @content;
//     }
//   } @else if $size == desktop-up {
//     @media (min-width: 1200px) {
//       @content;
//     }
//   } @else if $size == big-desktop-up {
//     @media (min-width: 1800px) {
//       @content;
//     }
//   }
// }
