//site color
$primaryColor: #fe5d1f;
$secondaryColor: #7dbd3b;
$lightTextColor: #929292;
$white: #fff;
$slightGray: #ececec;
$black: #000000;
$fontDeepGray: #484848;
$fontGray: #ababab;
$errorColor: #ed4337;
//media
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$_2xl: 1536px;
$_3xl: 1800px;

$transition: all 0.3s;
