.container {
  width: 100%;
  padding: 30px 0px;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

  h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    @media screen and (max-width: 900px) {
      font-size: 22px;
    }
  }
  &__goalsContainer {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    margin: 50px auto 20px auto;
    &__label {
      border: 1px solid #7dbd3b;
      border-radius: 23px;
      padding: 10px 30px;
      letter-spacing: 0.28px;
      color: #7dbd3b;
      font-size: 14px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 25px 25px 0;
      cursor: pointer;
    }
    &__label.selected {
      background-color: #e2ffca;
      border-color: transparent;
    }
  }
}
