@import "../../styles/partials/variables";
.iconContainer {
  z-index: 1;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #c9c9c9;
  cursor: pointer;
  transition: all 0.3s linear;
}

.bgPrimary {
  &:hover {
    color: $white;
    background-color: $primaryColor;
  }
}
.bgSecondery {
  color: $white;
  &:hover {
    background-color: $secondaryColor;
  }
}
.bgSlightGray {
  &:hover {
    background-color: $slightGray;
  }
}
