.LinearIndicatorDiv {
  background-color: transparent;
  border-radius: 20px;
  height: 18px;
  border: 1px;
  border-style: solid;
  border-color: #ececec;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 2px;
  width: 100%;
  max-width: 100%;
  margin-right: auto;
}

.progressBar {
  color: transparent;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: #d2e7bc;
  // margin: 2px;
  border-radius: 18px;
}

.progressBarHighLight {
  background-color: #7dbd3b;
}
