@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixin";

.downloadAppSection {
  width: 100%;
  background: $primaryColor;
  border-radius: 19px;
  margin-top: 40px;
  padding: 40px;
}

.downloadAppSection h2 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  @include media(lg) {
    font-size: 40px;
  }
  @include media(xl) {
    font-size: 56px;
  }
}
