.title{
    display: flex;
    align-items: center;
}
.title h2{
    color: #f95d2b;
    padding: 0;
    font-weight: 500;
    display: flex;
    margin: 0;
    align-items: center;
    font-size: 22px;
    padding-top: 1px;
}
.title img{
    margin-right: 10px;
    height: 23px;
}