@import "../../../../styles/variables";

.side-panel {
  margin: 0 !important;
  background-color: white;
  padding: 2rem 0 1.5rem 0 !important;
  box-shadow: -3px 3px 6px $shadowGrey;
  position: fixed;
  right: -4.5rem;
  top: 5.5rem;
  bottom: 0;
  width: 100%;
  max-width: 40rem !important;
  z-index: 10000;
  border-top: 1px solid $shadowGrey;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: 0.3s;
  &.active {
    transform: none;
    right: 0;
    z-index: 99999999;
  }

  &.side-panel--floated {
    right: 0;
    background-color: transparent;

    > * {
      z-index: 2;
    }

    &::before {
      content: "";
      background-color: white;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &:hover .side-panel__toggle,
    &:hover .side-panel__open {
      transform: translateX(-100%);
    }
  }
}

.side-panel__toggle {
  @extend .side-panel__close;
  .side-panel--floated & {
    background-color: white;
    border: 1px solid $primaryColor;
    color: $primaryColor;
    transform: translateX(-50%);
    z-index: 0;

    &:hover {
      background-color: $primaryColor;
      color: white;
    }
  }

  .side-panel--floated.active & {
    background-color: $primaryColor;
    color: white;
  }
}

.side-panel__open {
  @extend .side-panel__close;
  .side-panel--floated & {
    border: 1px solid $lightTextColor;
    transform: translateX(-50%);
    z-index: 0;
  }
}

.side-panel__close {
  position: absolute;
  left: 0;
  top: 3rem;
  transform: translateX(-100%);
  z-index: 0;
  background-color: lighten($color: $lightTextColor, $amount: 10);
  color: white;
  font-size: 2rem;
  border-radius: 0.8rem 0 0 0.8rem;

  &:hover {
    background-color: lighten($color: $lightTextColor, $amount: 20);
  }
}

.side-panel__wrapper {
  overflow: hidden auto;
  scrollbar-width: 5px;
  padding: 0 2rem;
  height: 100%;
}

.side-panel__content {
  flex: 1;
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: $lightBgGrey;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $darkGrey;
  }
}

.side-panel__title {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;

  > i {
    margin-right: 1.5rem;
  }
}
