@mixin responsive($min_width, $max_width) {
  @media only screen and (min-width: $min_width) and (max-width: $max_width) {
    @content;
  }
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  h3 {
    font-size: 20px;
    color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 400;
    margin-left: 10px;
  }
}

.content {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

  h3 {
    font-size: 20px;
    color: #000;
    font-weight: 400;
  }
}

.nutritionHeader {
  p {
    color: #ababab;
    font-size: 14px;
  }
}


.recursiveAccordianHeading {
  &__heading {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid #ececec;
    padding: 5px;

    &__1 {
      width: 45%;
      display: flex;
      align-items: center;

      @include responsive(0px, 1000px) {
        padding: 5px;
      }
    }

    &__2{
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  &__subheading {
    display: flex;
    text-align: right;
    font-weight: 400;
    color: #000;
    font-size: 14px;
    padding: 10px 10px 10px 0px;
    border-bottom: 1px solid #ececec;

    &__3 {
      margin-left: auto;
    }

    &__4 {
      width: 22%;
      margin-right: 3.5%;
      @include responsive(0px,550px ){
        margin-right: 10%;
        width: 22%;
      }
      @include responsive(550px,650px ){
        margin-right: 14%;
        width: 22%;
      }
      @include responsive(650px,770px ){
        margin-right: 16%;
        width: 22%;
      }
      @include responsive(770px,1200px ){
        margin-right: 17%;
        width: 22%;
      }
    }
  }
}

.linerProgessContainer {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

  h3 {
    font-size: 20px;
    color: #000;
    font-weight: 400;
  }

  p {
    color: #ababab;
    font-size: 14px;
  }
}