@import "../../../../styles/partials/variables";
.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 16px;
  transition: all 0.3s;
}
.headerSolid {
  display: flex;
  align-items: center;
  pointer-events: none;
  padding-bottom: 10px;

  .icon {
    // width: 24px;
    // height: 24px;
    color: $secondaryColor;
    img {
      width: 24px;
      height: 24px;
      color: inherit;
    }
  }

  .title {
    font-weight: 400;
    font-size: 20px;
    margin-left: 10px;
    color: #b6b6b6;
  }
}

.headerBorderBottom {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #b6b6b6;
  padding-bottom: 10px;

  .icon {
    width: 24px;
    height: 24px;

    img {
      width: 100%;
      height: 100%;
      color: inherit;
    }
  }

  .title {
    font-weight: 400;
    font-size: 20px;
    margin-left: 10px;
  }
}

.activeTab {
  padding-bottom: 8px;
  color: $secondaryColor;
  border-bottom: 2px solid $secondaryColor;
}

.centerRightBtnWraper {
  display: flex;
  align-items: center;
}

.headerTextBtn {
  cursor: pointer;
  margin-right: 10px;
  color: $slightGray;
  border-radius: 5px;
  padding: 4px 5px;
  font-size: 14px;
  outline: none;
  border: none;
  letter-spacing: 1px;
}

.containSecondary {
  background-color: $secondaryColor;
}
.containPrimary {
  background-color: $primaryColor;
}

.outlineSecondary {
  border: 1px solid $secondaryColor;
  background-color: $white;
  color: $secondaryColor;
  &:hover {
    background-color: $secondaryColor;
    color: $slightGray;
    border: 0px solid $secondaryColor;
  }
}
.outlinePrimary {
  border: 1px solid $primaryColor;
  background-color: $white;
  color: $primaryColor;
  &:hover {
    background-color: $primaryColor;
    color: $slightGray;
    border: 0px solid $primaryColor;
  }
}
