@mixin responsive($min_width, $max_width) {
  @media only screen and (min-width:$min_width) and (max-width:$max_width) {
    @content;
  }
}

.header {
  background-image: url("/images/about-banner.png");
  height: 270px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  &__banner {
    background-color: hsl(90deg 52% 49% / 76%);
    border-radius: 29px;
    width: 100%;
    max-width: 886px;
    margin: auto;
    height: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      color: white;
      text-align: center;
      text-transform: uppercase;
      opacity: 100%;
      font-size: 39px;
      margin: 0;
      padding: 10px 0;
      font-weight: 500;

      @media screen and (max-width: 900px) {
        font-size: 30px;
      }
    }

    p {
      color: white;
      text-align: center;
      opacity: 90%;
      font-size: 29px;
      margin: 0;

      @media screen and (max-width: 900px) {
        font-size: 25px;
      }
    }
  }
}

.container {
  padding: 20px 15px;
  max-width: 1536px;
  margin: 0 auto;
  margin-top: -70px;

  &__div {
    display: flex;

    @include responsive(0px, 900px) {
      flex-direction: column;
    }

    // item xs={12} md={4}
    &__left {
      width: 34%;
      margin-right: 30px;
      margin-left: auto;

      @include responsive(0px, 900px) {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    // item xs={12} md={8}
    &__right {
      width: 66%;
      margin-right: auto;

      @include responsive(0px, 900px) {
        width: 100%;
      }
    }
  }

  .sideBar {
    height: 100%;
    min-height: 550px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
  }

  .main {
    height: 100%;
    min-height: 550px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;

    .updateButton {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
    }
  }
}