.buttonContainer {
  width: 100%;
  padding: 40px 0;
  background-color: #fff;


  &__innerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.backButton {
  color: #fe5d1f;
  font-size: 18px;
  margin: 0 30px;
  background: none;
  border: none;
  cursor: pointer;
}
