.button {
  padding: 0px 20px;
  border-radius: 30px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: #fff;
  color: #fe5d1f;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  border: 1px solid #f2f2f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary {
  background-color: #fe5d1f;
  color: #fff;
  border: none;
  &:disabled {
    background-color: #333;
    cursor: not-allowed;
  }
}

.transparent {
  color: #fe5d1f;
  background-color: transparent !important;
}

.transparent__hover {
  color: #fe5d1f;
  background-color: transparent !important;

  &:hover {
    color: #fff;
    background-color: #fe5d1f !important;
  }
}

.border__button {
  border: 1px solid #7dbd3b;
  border-radius: 6px;
  background-color: #f4f9f0;
  font-size: 16px;
  color: #7dbd3b;
  height: 47px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
