.recipeDetailsContainer {
  background-color: #ffffff;
  padding: 10px;
  height: 100%;
  margin: 0 5px;
  position: relative;
  border: 2px solid #f2f2f8;
  border-radius: 7px;

  &:hover .cancleIcon {
    color: #ababab;
    display: block;
  }
}

.cancleIcon {
  position: absolute;
  right: -5px;
  top: -6px;
  color: #ababab;
  cursor: pointer;
  transform: scale(0.75);
  display: none;

  :hover {
    color: #fe5d1f;
    display: block;
  }
}

.dividerBox {
  border: 1px solid #f6f6f6;
  padding: 10px;
  margin-top: 15px;
  border-radius: 6px;

  min-height: 250px;
}

.nutritionHeader {
  p {
    color: #ababab;
    font-size: 14px;
    padding-top: 2px;
  }

  table {
    width: 100%;

    tr th {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      border-bottom: 1px solid #ececec;
      padding: 5px;
    }

    tr td {
      color: #000;
      font-size: 14px;
      text-align: right;
      padding: 10px 5px;
    }
  }
}

.table_row {
  display: grid;
  grid-template-columns: 1fr 16%;
  font-weight: 600;
  border-bottom: 1px solid #dfdddd !important;
  padding-bottom: 16px;
  padding-top: 5px;
  margin-bottom: 14px;
}

.table_row_calorie {
  font-weight: 500;
  background-color: #f1f1f1;
}

.ingredientsDetails {
  table {
    width: 100%;

    tr {
      display: grid;
      grid-template-columns: 1fr 35% 14%;
    }

    tr td {
      // background-color: red;
      color: #000;
      font-size: 14px;
      padding: 10px 10px 10px 0px;
      border-bottom: 1px solid #dfdddd !important;
    }

    tr:last-child td {
      border: 0 !important;
    }
  }
}

// .table tr th:first-child {
//   text-align: left;
// }