.button {
  background: white;
  display: flex;
  align-items: center;
  height: 49px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  border-radius: 15px;
  padding: 20px 22px;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 2px 3px #0000001a;
  }
  .icon {
    margin-right: 5px;
    color: #fe5d1f;
    transform: scale(0.75);
  }
  .img {
    width: 30px;
    padding-right: 10px;
  }
}
