.card {
    width: 100%;
}

.card__top {
    background-color: #7dbd3b;
    border-radius: 20px 20px 0px 0px;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.card__top h2 {
    font-weight: 500;
}

.pricing {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 32px;
    color: #212529;
    background-color: #fff;
}

.pricing span {
    font-weight: 400;
    color: rgba(128, 128, 128, 0.589);
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.middle button {
    border: none;
}

.bottom{
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    background-color: #fff;
    padding-bottom: 25px;
}
.bottom ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        font-size: 13px;
        font-weight: 400;
        color: #000;
        padding: 10px 10px 10px 0;
        margin-left: 20px;

        &::before {
            content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: red; /* Change the color */
            font-weight: bold; /* If you want it to be bold */
            font-weight: 900;
            display: inline-block; /* Needed to add space between the bullet and the text */
            width: 1em; /* Also needed for space (tweak if needed) */
            margin-left: -1em; /* Also needed for space (tweak if needed) */
          }
    }
}