@import "../../styles/partials/variables";
@import "../../styles/mixins.scss";

.topMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond(md) {
    margin: 1.5rem 0;
  }

  .topMenu {
    width: 100%;
    display: flex;
    flex-flow: nowrap;
    margin: 10px auto;
    // border: 1px solid #dfdfdf;
    border-radius: 18px;
    height: 37px;
    position: relative;
    @include respond(md) {
      width: 40%;
    }
    .menu {
      color: #929292;
      height: 35px;
      font-size: 14px;
      padding: 0;
      text-align: center;
      display: block;
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
      font-weight: 500;
    }
    .containPrimary {
      border-radius: 1.8rem;
      color: #fff;
    }
    .containSecondary {
      border-radius: 1.8rem;
      color: #fff;
    }
    .outlinePrimary {
      border-radius: 1.8rem;
      color: $primaryColor;
    }
    .outlineSecondary {
      border-radius: 1.8rem;
      color: $secondaryColor;
    }
    .borderBottomPrimary {
      color: $primaryColor;
    }
    .borderBottomSecondary {
      color: $secondaryColor;
    }
  }
}

.userPlan {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.active {
  height: 35px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;

  transition: all 0.3s;
}

.active.containPrimary {
  border-radius: 1.8rem;
  background-color: $primaryColor;
}
.active.containSecondary {
  border-radius: 1.8rem;
  background-color: $secondaryColor;
}
.active.outlinePrimary {
  border-radius: 1.8rem;
  border: 2px solid $primaryColor;
}
.active.outlineSecondary {
  border-radius: 1.8rem;
  border: 2px solid $secondaryColor;
}
.active.borderBottomPrimary {
  border-bottom: 2px solid $primaryColor;
}
.active.borderBottomSecondary {
  border-bottom: 2px solid $secondaryColor;
}
