.topMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .topMenu {
    width: 100%;
    display: flex;
    flex-flow: nowrap;
    margin-top: 20px;
    margin-bottom: 25px;
    padding-bottom: 20px;
    border: 1px solid #dfdfdf !important;
    border-radius: 18px;
    height: 37px;
    position: relative;
    .menu {
      border: 1px solid #929292;
      border-radius: 18px;
      height: 35px;
      font-size: 14px;
      color: #929292;
      padding: 0;
      text-align: center;
      display: block;
      border: 0 !important;
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .menu.activeMenu {
      color: #fff !important;
      transition: all;
      transition-duration: 0.4s;
    }
  }
}

.userPlan {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.active {
  background-color: #fe5d1f;
  width: 50%;
  height: 36px;
  position: absolute;
  top: -1.1%;
  bottom: 0;
  content: "";
  left: 0px;
  border-radius: 18px;

  transition: all;
  transition-duration: 0.4s;
}
