.commentsShowContainer {
  border: 1px solid #ececec;
  border-radius: 15px;
  padding: 10px;
  max-height: calc(100vh - 210px);
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 20px;

  .singleComment {
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;
    margin-bottom: 20px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
  }
}

.noComments {
  text-align: center;
  color: #c1c1c1;
  font-size: 14px;
}
