.mainContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__icon {
        color: #9d9799;
        font-size: 18px;
        justify-self: start;
        cursor: pointer;
        margin-left: 5px;
    }

    &__buttonDiv {
        margin: 0px auto;
    }

}