$imageContentTrayHeight:55%;
$sharedBorderRadius:5px;
$imageHeightWidth:95px;


.mainContainer {

  height: 170px;
  border-radius: $sharedBorderRadius;
  display: flex;
  flex-direction: column;
  border: 1px #e0dcdd solid;
  background-color: rgb(255, 255, 255);

  &__imgRankingTray {
    display: flex;
    background-color: rgb(255, 255, 255);

    &__imageDiv {

      position: relative;
      overflow: hidden;
      height: $imageHeightWidth;
      width: calc(#{$imageHeightWidth} - 10px);
      border-top-left-radius: $sharedBorderRadius;
      border-top-right-radius: $sharedBorderRadius;
      border-bottom-right-radius: $sharedBorderRadius;
    }

    &__content {

      display: flex;
      flex-direction: column;
      padding: 8px 16px;
      width: calc(100% - #{$imageHeightWidth});
    }
  }

  &__elemTray {

    height: calc(100% - #{$imageContentTrayHeight});
    margin-top: auto;

    &__bottomTray {

      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 55%;
      padding: 0px 10px;
      position: relative;


      &__companyDiv {

        display: flex;
        align-items: center;
        font-size: 10px;

        span {
          position: relative;
          height: 16px;
          aspect-ratio: 1;
          border-radius: 50%;
          margin-right: 6px;
        }
      }

      &__calendar {
        color: #fd5109;
        cursor: pointer;
      }

      &__calenderTray {

        background-color: white;
        min-height: 200px;
        min-width: max-content;
        border-radius: 5px;
        display: flex;
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      }
    }
  }

}