.checkbxWrap {
  display: block;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbxWrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbxWrap .checkmark {
  border: 1px solid #dbdbdb;
  position: absolute;
  top: -10px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #dbdbdb;
  right: 0;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkbxWrap:hover input ~ .checkmark {
  background-color: #ccc;
  border-color: #ccc;
}

/* When the checkbox is checked, add a #f95d2b background */
.checkbxWrap input:checked ~ .checkmark {
  background-color: #f95d2b;
  border-color: #f95d2b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbxWrap .checkmark:after {
  content: "";
  position: absolute;
  // display: none;
}

/* Show the checkmark when checked */
.checkbxWrap input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbxWrap .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
