.listContainer{
    font-size: 14px;
    color: #ABABAB;
    position: relative;
    padding-left: 15px;
    padding-right: 30px;
    list-style: none;

    &__tooltiptext{
        display: none;
        position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            padding: 4px;
            max-width: 120px;
            min-width: 120px;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
            top: -30px;
            background-color: aqua;
    }
    &:hover &__tooltiptext{
            display: block;
    }
    &__draggableBtn{
        position: absolute;
        background: transparent;
        border: 0;
        padding: 0;
        left: -10px;
        top: -2px;
        color: #ABABAB;
        display: none;
        img{
            max-width: 13px;
        }
    }
    &:hover &__draggableBtn{
        display: block;
    }

    &__addBtn{
        padding: 0;
        border: 0;
        background: transparent;
        margin: 0;
        line-height: 1;
        position: absolute;
        right: 0;
        top: 0;
        color: #f9532b;
        display: none;
        cursor: pointer;
    }
    &:hover &__addBtn{
        display: block;
    }
    

}