.filter__top {
    border: 2px dashed #DEDEDE;
    background-color: #fff;
    border-radius: 18px;
    padding: 10px 10px 0 10px;
    padding-bottom: 10px;
    margin-top: 10px;

    h3 {
        font-size: 16px;
        padding-left: 20px;
        position: relative;
        font-weight: 500;
        margin-bottom: 30px;

        &::after {
            content: "";
            width: 6px;
            height: 80%;
            background: #FE5D1F;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 8px;
            width: 4px;
        }

        &::before {
            content: "";
            width: 100%;
            position: absolute;
            border-bottom: 2px dashed #DEDEDE;
            left: 0;
            bottom: -15px;
        }
    }
}

.searchBar {
    display: flex;
    position: relative;
    min-height: 45px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;

    &__input_field__icon {
        background-color: transparent;
        position: absolute;
        min-height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 7px;

        div {
            position: relative;
            height: 100%;
            width: 17px;
            cursor: pointer;
        }
    }

    &__input_field {
        min-height: inherit;
        min-width: 100%;
        box-shadow: none;
        color: #C4C4C4;
        font-size: 14px;
        padding-left: 10px;
        background-color: #fbfbfb;
        border: none;

        &::placeholder {
            color: #C4C4C4;
        }

        &:focus {
            outline: none;
        }

        &:active {
            outline: none;
        }
    }
}

.filter__menu {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    max-height: 47.5vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        background: #ffffff00;
    }

    &::-webkit-scrollbar-thumb {
        background: #eceaea63;
    }


    &__item {
        width: 65px;
        cursor: pointer;
        position: relative;
        // margin-right: 4px;
        margin: 0px auto 10px auto;

        &__image {
            border: 1px solid #E5E5E5;
            width: 65px;
            height: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            margin-bottom: 4px;

            img {
                max-width: 70%;
                max-height: 60%;
            }
        }

        p {
            font-size: 10px;
            text-align: center;
        }
    }
}

.filter__bottom {
    margin-top: 5px;
}

.dropdown {
    margin-top: 10px;
    background-color: #fbfbfb;
}

.tick {
    position: absolute;
    border-radius: 50%;
    right: 5px;
    overflow: hidden;
    top: 0px;
}

.ticked {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    color: #f95d2b;
    transform: scale(0.85);
}