.wikiLeftContainer {
  //   -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  //   box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  width: 100%;
  border-radius: 14px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  // position: sticky;
  // top: 55px;
}
