.customeArrowContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  &__arrows {
    display: flex;
    align-items: center;
    margin-right: 32px;
    min-width: 90px;
    position: relative;
    &__prev {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      z-index: 1;
      background-color: #d6d6d6;
      color: #f4f4f4 !important;
      transition: all ease 0.5s;
      margin-right: 16px;
      cursor: pointer;
    }
    &__prev:hover {
      background-color: #fe5d1f !important;
    }
    &__next {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      z-index: 1;
      background-color: #d6d6d6;
      color: #f4f4f4 !important;
      transition: all ease 0.5s;
      cursor: pointer;
    }
    &__next:hover {
      background-color: #fe5d1f !important;
    }
  }
}
