@mixin responsive($min_width, $max_width) {
  @media only screen and (min-width: $min_width) and (max-width: $max_width) {
    @content;
  }
}

.icon {
  font-size: 25px;
  color: #7dbd3b;
  margin: auto;
  margin-right: 10px;
  margin-left: -80px;
  cursor: pointer;
}

.title {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.accordion {
  width: 100%;
  // padding: 0px;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  border: none;
  // background-color: rgb(219, 217, 217);

  &::before {
    box-shadow: none;
    height: 0px;
  }
}

.accordionSummaryForRightIcon {
  // padding: 16px 0;
  // background-color: rebeccapurple;
  display: flex;
  border-bottom: 1px solid #dbdbdb;
}

.iconRight {
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .arrowIcon {
    transition: all 0.6s;
  }

  &.active {
    .arrowIcon {
      transform: rotate(90deg);
    }
  }
}

.accordianDetails {
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background-color: #ffffff;

  &__active {
    height: auto;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.accordionSummary {
  display: flex;
  border: none;
  border-radius: 4px;
}

.accordionSummaryForNested {
  width: 100%;
  display: grid;
  grid-template-columns: 24px 1fr;
  border: none;
}

.accordianMainHeading {
  background-color: #f1f1f1;
  width: 100%;
  display: grid;
  grid-template-columns: 24px 1fr;
}

.titleAccordianMainHeading {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  margin-left: 15px;
  display: flex;
  align-items: center;
  padding: 6px 0px;
}

.accordianContent {
  // transition: max-height 0.6s ease;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 80px;
  gap: 10px;
  border-bottom: 1px solid #dbdbdb;

  @include responsive(0px, 990px) {
    grid-template-columns: 1fr 80px;
  }

  &__whiteCard {
    display: grid;
    grid-template-columns: auto 75px;

    &_conditionalSubheading {
      width: 100%;
    }
  }
}

.valueUnit {
  color: #000000;
  font-size: 13px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-word;
}

.percentage {
  background-color: #f1f1f1;
}

.alignLeft {
  justify-content: left;
}

.alignRight {
  justify-content: right;
}

.alignCenter {
  justify-content: center;
}

.iconCopy {
  margin-left: 5px;
}

.titleCopy {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
  display: flex;
  align-items: center;
  padding: 6px 0px;

  transition: color 0.3s linear;
}
.titleCopy.active {
  cursor: pointer;
  &:hover {
    color: #fe5d1f;
  }
}
