.dropdown {
  position: relative;
  color: rgb(182, 182, 182);
  font-size: 14px;
  background-color: #fbfbfb;
  // overflow: hidden;
}

.dropdown__top {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;

  &__icon {
    position: absolute;
    right: 10px;
    top: calc(50% + 0px);
    transform: translateY(-50%) scale(0.75);
    color: #b6b6b6;
  }
}

.dropdown__bottom {
  position: absolute;
  width: 100%;
  top: 100%;
  background-color: #fff;
  z-index: 999;
  border: 0.5px solid rgb(221, 216, 216);

  &__list {
    cursor: pointer;
    padding: 3px 10px;

    &:hover {
      background-color: rgba(113, 214, 113, 0.723);
      color: #fff;
    }
  }
}
