@import "../../styles/partials/variables";
.formGroup {
  width: 100%;
  position: relative;
}

.customSelectbx {
  border: 0px;
  outline: 0px;
  box-shadow: none;
  color: #b6b6b6;
  border-radius: 10px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 2.5em 0.5em 1em;
  width: 100%;
  border: 1px solid #dddddd;
  outline: none;
  font-family: "Segoe UI", sans-serif;
  transition: border-color 0.3s;
  &::placeholder {
    color: #c8c8c8;
  }
  /* reset */
  background-position: calc(100% - 15px) calc(1em + -3px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  // background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  -webkit-appearance: none !important; /* Remove default styling on Safari */
  -moz-appearance: none !important; /* Remove default styling on Firefox */
  appearance: none !important; /* Remove default styling on other browsers */
}

.borderPrimary {
  &:focus,
  &:hover {
    border-color: $primaryColor;
  }
}
.borderSecondary {
  &:focus,
  &:hover {
    border-color: $secondaryColor;
  }
}

.label {
  display: block;
  padding-bottom: 0.5rem;
  color: #c8c8c8;
}
.errorMessage {
  display: block;
  position: absolute;
  top: 100%;
  padding-top: 0.5rem;
  color: $errorColor;
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
