@import "../../styles/partials/variables";

/* The radioContainer */
.radioContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-right: 1.5rem;
  cursor: pointer;
  font-size: 16px;
  color: $lightTextColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radioContainer input {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: -5px;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid $lightTextColor;
}

/* On mouse-over, add a grey background color */
.radioContainer:hover input ~ .checkmark {
  border: 1px solid $primaryColor;
}

/* When the radio button is checked, add a blue background */
.radioContainer input:checked ~ .checkmark {
  border: 1px solid $primaryColor;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .checkmark:after {
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $primaryColor;
}
