$sharedMargin: 6px;

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 15px;
    margin-top: $sharedMargin;
  }

  &__optionTray,
  &__middleBorderTray {
    width: 100%;
  }

  &__optionTray {
    margin: $sharedMargin 0px;
    margin-bottom: 16px;
    max-width: 400px;
  }
}
