@import "../../../../styles/partials/variables";

@mixin responsive($min_width, $max_width) {
  @media only screen and (min-width: $min_width) and (max-width: $max_width) {
    @content;
  }
}

.main {
  padding: 20px;

  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin-bottom: 20px;
  border-radius: 14px;

  @include responsive(0px, 1300px) {
    padding-top: 20px;
  }

  @include responsive(0px, 991px) {
    padding-left: 10px;
  }

  .topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 24px;
      font-weight: 700;
      color: #000;
      span {
        font-weight: 400;
        font-size: 20px;
      }
    }

    .reightSight {
      margin-left: 10px;
      position: relative;

      .menu {
        position: absolute;
        padding: 4px 10px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        background: #eeeeeef2;
        top: 35px;
        right: 20px;
        z-index: 1;

        .singleMenu {
          padding-bottom: 5px;
          display: flex;
          align-items: center;
          color: #929292;
          cursor: pointer;

          &:hover .icon,
          &:hover .text {
            color: $secondaryColor;
          }

          .icon {
            transition: all 0.3s;
            margin-right: 10px;
            &:last-child {
              margin-right: 0px;
            }
          }

          .text {
            transition: all 0.3s;
            font-size: 14px;
          }

          &:last-child {
            padding-bottom: 0px;
          }
        }
      }
    }
  }

  .scoreTraydiv {
    margin-top: 20px;
    .discripation {
      margin-bottom: 20px;
      color: #ababab;
      font-size: 14px;
      line-height: 1.7;
      font-weight: 400;
    }

    .blendingOptions {
      margin-top: 42px;
      height: 44px;
      display: flex;
      justify-content: space-between;

      @include responsive(0px, 1300px) {
        margin-top: 36px;
      }

      &__left {
        width: 68%;
        overflow: hidden;

        ul {
          display: flex;
          height: 100%;
          list-style-type: none;

          li {
            display: flex;
            align-items: center;
            min-width: 30.5%;
            border-radius: 5px;

            &:not(:first-child) {
              margin-left: 16px;
            }

            &:last-child {
              margin-right: auto;
            }

            .left__options {
              display: flex;
              align-items: center;
              height: 100%;
              width: 100%;
              border-radius: 6px;

              @include responsive(0px, 991px) {
                width: 100%;
              }

              .text {
                font-size: 13px;
                margin-left: 10px;
              }

              .arrow {
                z-index: 10;
                min-width: 15px;
                margin: 0px 10px 0px auto;
              }
            }
          }
        }
      }

      &__right {
        margin-left: 16px;
        display: flex;

        span {
          margin-right: 14px;
          display: flex;
          align-items: center;
          padding: 0px 16px;
        }

        &__options {
          height: 100%;
          display: flex;
          width: 100px;
          border-radius: 5px;
          overflow: hidden;
          background-color: #f1f1f1;
          border-radius: 6px;
        }

        .text {
          font-size: 13px;
          margin-left: 10px;

          @include responsive(0px, 991px) {
            margin-left: 0px;
            width: fit-content;
          }
        }

        .arrow {
          min-width: 26px;
          position: relative;
          margin: 0px 2px 0px auto;
          display: flex;
          flex-direction: column;

          .arrow_div {
            display: flex;
            flex-direction: column;
            margin-top: auto;
            margin-bottom: auto;
            width: fit-content;
            cursor: pointer;

            .reverse_arrow {
              transform: rotate(180deg);
              margin-bottom: 5px;
            }

            .original_arrow {
              margin-top: 5px;
            }
          }
        }

        .timer_icon {
          margin-right: 0px;
          min-width: 20px;
          min-height: 20px;

          @include responsive(0px, 1300px) {
            margin-right: -10px;
          }

          @include responsive(0px, 991px) {
            margin-right: -19px;
            margin-left: -10px;

            div {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
