.wrapper {
  padding: 20px 20px;
  &__header {
    margin-left: 63px;
    display: grid;
    grid-template-columns:
      minmax(60px, 40%) minmax(60px, auto) minmax(60px, auto)
      minmax(60px, auto) minmax(80px, auto);
    & > span {
      text-align: center;
      font-size: 1.4rem;
      color: #707070;
    }
  }
}
