.userProfileContainer {
  padding: 40px 0px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionContainer {
  width: 100%;
  background-color: #fff;
}
