@mixin responsive($min_width, $max_width) {
  @media only screen and (min-width: $min_width) and (max-width: $max_width) {
    @content;
  }
}

.CompareContainer {
  padding: 40px 0;
}

.mainContentDiv {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0px 16px;
}

.comparePageContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  transition: all 0.3s linear;
  .firstColumn {
    flex-basis: 25%;
  }
  .secondColumn {
    flex-basis: 75%;
  }

  @media (max-width: 1280px) {
    grid-template-columns: 33.33% 66.66%;
    .firstColumn {
      flex-basis: 33.33%;
    }
    .secondColumn {
      flex-basis: 66.66%;
    }
  }
  @media (max-width: 1024px) {
    grid-template-columns: 50% 50%;
    .firstColumn {
      flex-basis: 50%;
    }
    .secondColumn {
      flex-basis: 50%;
    }
  }
  @media (max-width: 768px) {
    grid-template-columns: 100%;
    flex-direction: column;
    .firstColumn {
      flex-basis: 100%;
    }
    .secondColumn {
      flex-basis: 100%;
    }
  }
}
