@import "../../styles/partials/variables";

.textArea {
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 10px;
  font-size: 14px;
  color: $lightTextColor;
  letter-spacing: 0.5px;
  line-height: 16px;
  font-weight: 300;
  padding: 6px 12px;
  transition: border 0.3s linear;
  font-family: "Segoe UI", sans-serif;
  &:focus,
  &:hover {
    border: 1px solid $primaryColor;
    outline: none;
  }
  &::placeholder {
    color: #c8c8c8;
  }
}

.borderSecondary {
  &:focus,
  &:hover {
    border: 1px solid $secondaryColor;
    outline: none;
  }
}
