.card {
    box-sizing: border-box;
    list-style-position: inside;

}

.cardDiv {
    display: block;
    position: relative;
    width: 100%;
    // background-color: rgb(177, 209, 36);
    padding: 1.1rem 0rem;
    // background: none !important;
    margin-bottom: 0;
    border-bottom: 2px solid #E6E6E6;

    &:last-of-type {
        border-bottom: none;
    }

    h5 {
        display: flex;
        justify-content: space-between;
        // background-color: #7dbd3b;
        position: relative;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        min-width: 400px;
        margin: 0;
        color: #000;
        letter-spacing: 0px;
        line-height: 1.5rem;
        padding-left: 20px;


        &::before {
            content: '.';
            font-size: 50px;
            width: 100px;
            height: auto;
            display: block;
            position: absolute;
            left: 0;
            top: -15px;
            color: #7dbd3b;

        }

        svg {
            transform: scale(0.75);
            color: #e8e8e8;
            position: absolute;
            right: 20px;
            top: 0;

        }

    }

    div {
        display: none;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.72px;
        line-height: 1.3;
        color: #000;
        padding: 10px 20px;
    }



}