.addCollectionContainer {
  padding: 30px 20px;
  width: 100%;
  width: 500px;
  min-height: 206px;
  display: flex;
}
.rightSide {
  width: 100%;

  .buttonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}

.fileUpload {
  text-align: center;
  position: relative;

  height: 100px;
  min-width: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #f4f4f4;
  margin-bottom: 20px;
  margin-right: 20px;
  //   img {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //   }
  input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    left: 0;
    top: 0;
  }
}
