@mixin lineClampMixin($clamLine) {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-word;
  -webkit-line-clamp: $clamLine;
  -webkit-box-orient: vertical;
}

.mainContainer {
  height: 100%;

  &__title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__rankingTray {
    display: flex;
    align-items: center;
    padding: 6px 0px;
  }

  &__ingredientList {
    @include lineClampMixin(3);
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #9d9799;
  }
}
