$centerWidth: 50%;

@mixin responsive($min_width, $max_width) {
  @media only screen and (min-width: $min_width) and (max-width: $max_width) {
    @content;
  }
}

.recipeDetailsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  margin: 0px 20px;
  position: relative;
  transition: all 1s;
  box-sizing: border-box;


  &__contentDiv {
    display: flex;
    box-sizing: border-box;

    @include responsive(0px, 1399px) {
      flex-direction: column;
    }

    @include responsive(1399px, 3000px) {
      flex-direction: row;
    }

    &__left {
      display: flex;
      flex-direction: column;
      width: calc((100% - $centerWidth) / 2);
      padding: 0px 10px;
      box-sizing: border-box;

      @include responsive(0px, 1200px) {
        width: 100%;
        padding: 0px 20px;
        margin-top: 20px;
        order: 2;
        flex-direction: column;
      }

      @include responsive(1200px, 1399px) {
        width: 100%;
        margin-top: 20px;
        flex-direction: column;
        order: 2;
      }

      @include responsive(1399px, 1600px) {
        min-width: 350px;
        margin-top: 20px;
      }

      @include responsive(1600px, 3000px) {
        width: 20%;
        margin-top: 20px;

      }
    }

    &__center {
      width: $centerWidth;
      padding: 0px 10px;
      box-sizing: border-box;

      @include responsive(0px, 1200px) {
        width: 100%;
        padding: 0px 20px;
        margin-top: 20px;
      }

      @include responsive(1200px, 1399px) {
        width: 70%;
        margin-top: 20px;
      }

      @include responsive(1399px, 1600px) {
        width: calc(100% - 350px);
        margin-top: 20px;
      }

      @include responsive(1600px, 3000px) {
        width: 75%;
        margin-top: 20px;
      }
    }

    &__right {
      width: calc((100% - $centerWidth) / 2);
      padding: 0px 10px;
      box-sizing: border-box;

      @include responsive(0px, 1200px) {
        width: 100%;
        padding: 0px 20px;
        margin-top: 20px;
      }

      @include responsive(1200px, 1399px) {
        width: 30%;
        margin-top: 20px;
      }

      @include responsive(1399px, 1600px) {
        min-width: 350px;
        margin-top: 20px;
      }

      @include responsive(1600px, 3000px) {
        width: 25%;
        margin-top: 20px;
      }
    }
  }
}

.recipeDetailsContainer_right {
  @include responsive(1200px, 1399px) {
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  @include responsive(1399px, 1600px) {
    min-width: calc(100% - 550px);
    display: flex;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  @include responsive(1600px, 3000px) {
    width: 80%;
    display: flex;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}