.wikiCommentsContainer {
  width: 100%;
  margin-bottom: 20px;
}

.wikiItemName {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
  img {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    overflow: hidden;
    object-fit: contain;
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-left: 16px;
  }
}

.userImage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  // &:hover .rightSide {
  //   display: block;
  // }
  .imageBox {
    width: 28px;
    height: 28px;
    background: #ececec;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9e9e9e8f;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  h6 {
    font-size: 14px;
    font-weight: 600;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 16px;
  }

  .rightSide {
    display: flex;
    align-items: center;
    .editIconBox {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      padding: 0;
      border: 0;
      background: #fbfbfb;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        box-shadow: 0 10px 10px -10px rgb(0 0 0 / 50%);
        background: #e0e0e047;
      }
      .icon {
        font-size: 14px;
        color: #646464;
      }
    }
  }
}

.addCommentsIcon {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bottomSection {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  position: relative;
  margin-top: 10px;

  &:hover .rightSide {
    transform: translateX(0);
  }
  .date {
    font-size: 10px;
    color: #c1c1c1;
    font-weight: 300;
    margin: 10px 0;
  }

  .comment {
    color: #646464;
    font-size: 12px;
    line-height: 16px;
  }

  .rightSide {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(120%);
    transition: all 0.3s;
    .content {
      display: flex;
      align-items: center;

      .editIconBox {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        padding: 0;
        border: 0;
        background: #fbfbfb;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          box-shadow: 0 10px 10px -10px rgb(0 0 0 / 50%);
          color: #e0e0e047;
        }
        .icon {
          font-size: 14px;
          color: #646464;
        }
      }
    }
  }
}

.commentsShowContainer {
  border: 1px solid #ececec;
  border-radius: 15px;
  padding: 10px;
  max-height: calc(100vh - 210px);
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 20px;

  .singleComment {
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;
    margin-bottom: 20px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
  }
}

.noComments {
  text-align: center;
  color: #c1c1c1;
  font-size: 14px;
}
