.confirmationModalContainer {
  padding: 33px;
  width: 100%;
  max-width: 500px;
  min-width: 400px;
  margin: auto;
  .modalBody {
    display: flex;
    align-items: center;
    flex-direction: column;
    .text {
      color: #484848;
      font-size: 14px;
      padding-bottom: 20px;
      font-weight: 500;
      letter-spacing: 0.5px;
      text-align: center;
      line-height: 20px;
    }

    .buttonBox {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
