//site color
$primaryColor: #fe5d1f;
$secondaryColor: #7dbd3b;
$red: #c62727;
$orange: #80c627;
$darkBlue: #3e4d59;

//site font
$textColor: #112433;
$lightTextColor: #666666;
$lightBgGrey: #f6f6f6;
$darkGrey: #dbdbdb;
$shadowGrey: #ececec;

$font: "Segoe UI", sans-serif;
