@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.show__hidden {
  display: block !important;
}

// react-slick

.slick-slider {
  margin: 0 !important;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  background-color: #d6d6d6;
  color: #f4f4f4 !important;
  transition: all ease 0.5s;
}

.slick-next {
  right: 0px !important;
}

.slick-prev {
  left: 0px !important;
}
.slick-next:before,
.slick-prev:before {
  display: none !important;
}

.slick-next:hover,
.slick-prev:hover {
  background-color: #fe5d1f !important;
}

.slick-disabled {
  display: none !important;
  pointer-events: none !important;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top, #fe5e1f2a 0%, #fe5e1fdc 50%, #fe5e1fe5 51%, #FE5D1F 100%);
}