@import "./variables";
@import "./utils";
@import "./grid";
@import "./reset";
@import "./mixins";
@import "./override";
@import "./fonts";
@import "./icons";

.wc {
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  &_card {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
  }
}
