$orange_color:#fe5d1f;
$arrow_distance:-45px;

.main__slider {

    margin-bottom: 40px;

    @media only screen and (max-width: 980px) {
        margin-bottom: 20px;
    }

    h3 {
        font-weight: 500;
        font-size: 22px;
        display: flex;
        line-height: 1.2;
        color: $orange_color; //variable defined above and represents orange color used in orange banner
        min-height: 25px;
        margin-bottom: 20px;


        @media only screen and (max-width: 500px) {
            font-size: 18px;
            min-width: 200px;
        }

        .viewAll {
            margin-left: auto;
            margin-right: 20px;
            margin-top: auto;
            margin-bottom: auto;
            font-size: 14px;
            border-bottom: 1px solid transparent;
            color: #7cbc39;
            cursor: pointer;
            padding: 4px;
            transition: all .3s ease 0s;


            background-clip: text;
            -webkit-background-clip: text;
            background-position: left;

            &:hover {
                background-position: right;
                color: $orange_color;
                border-bottom: 1px solid $orange_color;

            }
        }

        span {
            position: relative;
            width: 26px;
            margin-right: 10px;
            margin-left: 60px;
            color: inherit;
            height: 26px;

            @media only screen and (max-width: 500px) {
                display: none;
            }

            @media only screen and (min-width:500px) and(max-width: 980px) {
                margin-left: 30px;
            }

            @media only screen and (min-width: 980px) and (max-width: 1290px) {

                margin-left: 29px;
            }
        }

    }
}

.sliderMainDiv {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: auto 5px;
    width: 100%;

    div {

        div {
            margin-left: 0px;
        }
    }

    @media only screen and (max-width: 980px) {
        // margin-right: 20px;
    }

    @media only screen and (min-width: 980px) and(max-width: 1290px) {
        // margin: 0px 23px 0px 24px;
        margin: auto 0px auto 13px;

    }

    .customArrowLeft {
        // background-color: rgb(45, 65, 19) !important;
        margin-left: $arrow_distance;

        @media only screen and (max-width: 980px) {
            margin-left: calc(#{$arrow_distance} + 25px);
            width: 30px;
            height: 30px;

            svg {
                transform: scale(0.75);
            }
        }

        @media only screen and (min-width: 980px) and(max-width: 1290px) {

            margin-left: calc(#{$arrow_distance} + 20px);
            margin-left: calc(#{$arrow_distance} + 25px);
            width: 30px;
            height: 30px;

            svg {
                transform: scale(0.75);
            }
        }

        @media only screen and (min-width: 1290px) {
            margin-left: calc(#{$arrow_distance} - 5px);
        }
    }

    .customArrowRight {
        // background-color: red !important;
        margin-right: $arrow_distance;

        // @media only screen and (max-width: 980px) {}
        @media only screen and (max-width: 980px) {
            margin-right: calc(#{$arrow_distance} + 35px);
            width: 30px;
            height: 30px;

            svg {
                transform: scale(0.75);
            }
        }

        @media only screen and (min-width: 980px) and (max-width: 1290px) {

            margin-right: calc(#{$arrow_distance} + 40px);
            width: 30px;
            height: 30px;

            svg {
                transform: scale(0.75);
            }

            // font-size: 14px !important;1
        }
    }

}