.compare-down-sec .owl-carousel .owl-stage {
    display: flex;
}

.compare-down-sec .owl-carousel .owl-item {
    display: flex;
    flex: 1 0 auto;
}

.edit__recipe__box {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    position: relative;
    height: 100%;
}

.save-data {
    max-width: 160px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
}

.addIngredientsBtn {
    padding: 0;
    border: 0;
    background: transparent;
    margin: 0;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 2px;
    color: #f9532b;
    display: none;
}

.addIngredientsBtn span {
    font-size: 18px;
}

.make-recipe-listing li:hover .addIngredientsBtn {
    display: block;
}

.compare-page-wrp.formulate-page .compare-btm-slider .make-recipe-listing li {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    /* cursor: grabbing; */
    /* cursor: url(../images/noun_drag_3124730.svg), auto; */
    cursor: pointer;
    padding-left: 17px;
}

.compare-down-sec .make-recipe-listing {
    padding-left: 0;
}

.compare-btm-slider .make-recipe-listing li:hover {
    color: #000;
}

.modal-backdrop.show {
    opacity: .3;
}

.social-share-wrp li {
    display: inline-block;
}

.close-modal {
    border: 0;
    width: 28px;
    height: 28px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #7cbc39;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 2px 3px #0000000a;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-modal span {
    font-size: 16px;
    font-weight: bold;
}

.modal-header {
    width: 100%;
    display: block;
    padding-top: 35px;
    border: 0;
    padding-bottom: 0;
}

.modal-title {
    font-weight: 600;
    color: #000;
    font-size: 18px;
}

.social-share-wrp li a {
    width: 44px;
    height: 44px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ECECEC;
    font-size: 26px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.more-share-btn {
    background: transparent;
    width: 44px;
    height: 44px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.more-share-btn span {
    display: block;
    font-size: 10px;
    color: #ECECEC;
    font-weight: 500;
    line-height: 1;
    width: 100%;
}

.social-share-wrp {
    display: flex;
    justify-content: center;
}

.social-share-recipe {
    padding-bottom: 10px;
}

.more-share-btn span.material-icons {
    font-size: 21px;
    line-height: 0.8;
}

.social-share-wrp li:not(:last-child) {
    margin-right: 10px;
}

.social-share-wrp .fb-icon:hover {
    border-color: #1578f2;
    background: #1578f2;
}

.social-share-wrp .linkedin-icon:hover {
    background: #0177b5;
    border-color: #0177b5;
    ;
}

.social-share-wrp .vk-icon:hover {
    background: #2787f5;
    border-color: #2787f5;
}

.social-share-wrp .moreshare-link {
    display: none;
}

.social-share-wrp li a:hover {
    color: #fff;
}

.social-share-wrp .insta-icon:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #fff;
    border-color: #fff;
}

.social-share-wrp .pinterest-icon:hover {
    background: #e60023;
    border-color: #e60023;
}

.social-share-wrp .twitter-icon:hover {
    background: #1DA1F2;
}

.uploadimg-wrp {
    display: flex;
    align-items: center;
    height: 100%;
}

.draggable-list-btn {
    position: absolute;
    background: transparent;
    border: 0;
    padding: 0;
    left: 0;
    top: 4px;
    display: none;
}

.draggable-list-btn img {
    max-width: 13px;
}

.compare-btm-slider .make-recipe-listing li:hover .draggable-list-btn {
    display: block;
}

.show-more-sociallink.hide .lessbtntext {
    display: block;
}

.show-more-sociallink.hide .morebtntext {
    display: none;
}

.show-more-sociallink span.lessbtntext {
    display: none;
}

.page-body {
    padding-top: 40px;
}

.pd-inner-wrp-page>div {
    flex: 1;
}

.nutrition-sidebar-right .compare-btm-slider-item {
    margin-right: 0;
}

.move-layout-rightbar.full-width-container {
    margin-left: 90px !important;
    margin-right: 30px !important;
}

.related-product-sec, .nutrition-sidebar-right {
    max-width: 340px;
}

.recipe-heading-top-sec h3 {
    font-size: 20px;
    color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.recipe-heading-top-sec {
    margin-bottom: 20px;
}

.recipe-heading-top-sec h3 .icon-pd-inner {
    padding-right: 10px;
}

.addrecipe-fixed-container {
    margin-right: 25px;
    float: left;
    margin-top: 60px;
    width: 32.3%;
    background: #fff;
    transition: all 0.2s;
    border-radius: 14px;
}

.formulate-compare-wrp {
    width: 67.7%;
    float: left;
}

.compare-btm-slider .owl-nav {
    justify-content: flex-end;
}

.compare-btm-slider .owl-controls {
    top: 0;
    right: 50px;
    left: auto;
    z-index: 999;
}

.compare-btm-slider .owl-next {
    right: 0;
}

.compare-btm-slider .owl-prev {
    left: 0;
}

.compare-btm-slider .owl-prev, .compare-btm-slider .owl-next {
    width: 30px;
    height: 30px;
}

.compare-btm-slider .owl-prev:after, .compare-btm-slider .owl-next:after {
    font-size: 18px !important;
    line-height: 30px;
}

.compare-btm-slider .owl-stage-outer {
    padding-top: 10px;
    padding-left: 0;
}

.compare-down-sec {
    display: flex;
    position: relative;
}