@use "../../breakpoints.module.scss" as bp;

.inputMainDiv {
  position: relative;
  display: block;
  width: 50%;
  min-height: 95vh;
  height: auto;
  // background-color: #f5f5f5;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  // padding: 50px 52px;

  @media screen and (max-width: bp.$breakPoint10) {
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px auto 0 auto;
    // padding: 0 22px;
    align-items: center;
    background-image: none !important;
  }

  @media screen and (min-width: bp.$breakPoint10) and (max-width: bp.$breakPoint11) {
    display: block;
  }
}

.inputContentDiv {
  display: block;
  position: relative;
  // padding-top: 30px;

  @media screen and (max-width: bp.$breakPoint10) {
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background-image: none;
    //    background-color: rebeccapurple;
  }

  @media screen and (min-width: bp.$breakPoint10) and (max-width: bp.$breakPoint11) {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // height: auto;
    padding: 0px 40px;
  }

  @media screen and (min-width: bp.$breakPoint11) and (max-width: bp.$breakPoint12) {
    height: 480px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 50px;
  }
  @media screen and (min-width: bp.$breakPoint12) {
    height: 480px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 50px;
  }

  .logo {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    position: relative;

    div {
      width: 190px;
      height: auto;
    }

    @media screen and (max-width: bp.$breakPoint10) {
      display: flex;
      // background-color: green;
      width: 100%;
      height: 100px;
      position: relative;
      left: 0;
      // margin-top: 0px;
      margin: 0px auto;
      // height: 150px;
      // padding: 40px;

      div {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 190px;
        margin-left: 100px;
        height: 100%;
        // background-color: rgb(58, 190, 32);

        img {
          display: inline-block;
          // transform: translateX(-50%);
          height: 100%;
          width: 190px;
          // background-color: yellow;
        }
      }
    }
    .cross {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) scale(0.55);
      display: block;
      color: #cbcbcb;
      width: fit-content;
      height: fit-content;
      margin: auto 15px auto auto;
      font-size: 24px;
      cursor: pointer;
      display: none;
      box-sizing: border-box;

      svg {
        // background-color: rgb(146, 146, 86);
        position: relative;
        transform: translateY(15%);
      }

      @media screen and (max-width: bp.$breakPoint10) {
        display: block;
      }
      // background-color: green;
    }

    @media screen and (min-width: bp.$breakPoint10) and (max-width: bp.$breakPoint11) {
      width: 100%;
      margin: 0px auto 30px auto;
    }
  }

  h2 {
    // background-color: #dab30a;
    margin-top: 20px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 2px;
    font-size: 30px;

    @media screen and (max-width: bp.$breakPoint10) {
      width: fit-content;
      margin: 36px auto 5px auto;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.2;
    }

    @media screen and (min-width: bp.$breakPoint10) and (max-width: bp.$breakPoint11) {
      font-size: 22px;
      margin-top: 0px;
    }
  }

  .subHeading {
    color: #000;
    line-height: 2;
    letter-spacing: 0.72px;
    font-weight: 400;
    // text-align: center;
    background-color: transparent;
    font-size: 16px;
    box-sizing: border-box;
    padding: 20px 0px;

    @media screen and (max-width: bp.$breakPoint10) {
      font-size: 14px;
      line-height: 1.5;
      padding: 20px 0;
      width: 300px;
      margin: 0 auto;
    }

    @media screen and (min-width: bp.$breakPoint10) and (max-width: bp.$breakPoint11) {
      font-size: 14px;
      padding: 20px 0;
      text-align: left;
    }
    @media screen and (min-width: bp.$breakPoint11) and (max-width: bp.$breakPoint12) {
      text-align: left;
    }
  }

  form {
    @media screen and (max-width: bp.$breakPoint10) {
      padding: 0px 20px;
    }
  }

  .buttonDiv {
    height: 60px;
    width: 250px;
    margin: 40px auto;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    @media screen and (max-width: bp.$breakPoint10) {
      width: 200px;
      margin: 12px auto 50px auto;
    }

    @media screen and (min-width: bp.$breakPoint10) and (max-width: bp.$breakPoint11) {
      height: 50px;
      width: 170px;
      margin: 60px auto;
    }

    @media screen and (min-width: bp.$breakPoint11) and (max-width: bp.$breakPoint12) {
      // width: 100%;
      margin: 90px auto 0px auto;
    }
  }
}

.imgMainDiv {
  position: relative;
  display: block;
  background-position-x: right;
  background-position-y: center;
  background-size: cover;
  width: 50%;
  min-height: 95vh;
  height: auto;
  background-color: #f5f5f5;

  @media screen and (max-width: bp.$breakPoint10) {
    width: 100%;
    height: 100vh;
  }

  @media screen and (min-width: bp.$breakPoint10) and (max-width: bp.$breakPoint11) {
    width: 50%;
  }

  .imgContentDiv {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 55%;

    @media screen and (max-width: bp.$breakPoint10) {
      position: relative;
      width: 60%;
    }

    @media screen and (min-width: bp.$breakPoint10) and (max-width: bp.$breakPoint11) {
      width: 80%;
      position: relative;
    }

    @media screen and (min-width: bp.$breakPoint11) and (max-width: bp.$breakPoint12) {
      width: 100%;
      // margin: 0px auto 30px auto;
    }
  }

  .contentCard {
    position: relative;
    height: 235px;
    min-width: 300px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: bp.$breakPoint10) {
      // background-color: rgb(29, 194, 117);
      height: 200px;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }

    @media screen and (min-width: bp.$breakPoint10) and (max-width: bp.$breakPoint11) {
      height: 200px;
      // padding-top: 30px;
    }

    h2 {
      display: block;
      padding: 0;
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      letter-spacing: 1px;
      // background-color: #212529;
      width: fit-content;
      margin: 0 auto;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 2;
      color: #fff;
      padding: 30px 0 50px 0;
      word-wrap: break-word;
      text-align: center;
    }

    & .buttonRightDiv {
      // background-color: chartreuse;
      height: 60px;
      width: 250px;
      margin: 0 auto;
    }

    @media screen and (max-width: bp.$breakPoint10) {
      h2 {
        font-size: 24px;
        font-weight: 600;
      }

      p {
        font-size: 14px;
        padding: 20px 30px 0px 30px;
        // width: ;
      }

      .buttonRightDiv {
        height: 60px;
        width: 200px;
        margin: 20px auto;
        // background-color: yellow;
      }
    }

    @media screen and (min-width: bp.$breakPoint10) and (max-width: bp.$breakPoint11) {
      h2 {
        // background-color: yellow;
        font-size: 22px;
        font-weight: bold;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        padding: 16px 4px 16px 4px;
        // margin: 30px auto;
        // width: ;
      }

      .buttonRightDiv {
        height: 50px;
        width: 170px;
        margin: 10px auto;
        cursor: pointer;
      }
    }

    @media screen and (min-width: bp.$breakPoint11) and (max-width: bp.$breakPoint12) {
      p {
        font-weight: 400;
        font-size: 14px;
        padding: 16px 4px 16px 4px;
        // margin: 30px auto;
        width: 80%;
        margin: 6px auto 30px auto;
      }
    }
  }
}
